# Ignore vim temp files.
*.swp

# Ignore bundler config
vendor

/.bundle
vendor/bundle

# Ignore the build directory
/build

# Ignore Sass' cache
/.sass-cache

.DS_Store

# Ignore sensitive data
data/credentials.yml
