---
layout: post
title: Clojure
category: Languages
---

Semaphore offers first class support for Clojure. When you add a Clojure project on
Semaphore, it will analyze it and propose a set of build commands to test
the project. Often no more setup is required to enjoy the full power of
continuous integration on the Clojure project.

<h4>Clojure essentials</h4>
<ul>
  <li><a href="/docs/languages/clojure/setting-up-clojure-project-on-semaphore.html">Setting up a Clojure project on Semaphore</a></li>
  <li><a href="/docs/languages/clojure/clojure-support-on-semaphore.html">Clojure support on Semaphore</a></li>
</ul>

<h4>Guides</h4>
<ul>
  <li><a href="/docs/clojure-testing-libraries.html">Clojure testing libraries</a></li>
</ul>
