---
layout: post
title: Ruby
category: Languages
---

Semaphore offers first class support for Ruby. When you add a Ruby project on
Semaphore, it will analyze it and propose a set of build commands to test
the project. Often no more setup is required to enjoy the full power of
continuous integration on the Ruby project.

<h4>Ruby essentials</h4>
<ul>
  <li><a href="/docs/languages/ruby/setting-up-ruby-project-on-semaphore.html">Setting up a Ruby project on Semaphore</a></li>
  <li><a href="/docs/languages/ruby/ruby-support-on-semaphore.html">Ruby support on Semaphore</a></li>
</ul>

<h4>Guides</h4>
<ul>
  <li><a href="/docs/rails-bdd-stack.html">Setting up the BDD stack on a new Rails 4 application</a></li>
  <li><a href="/docs/languages/ruby/using-database-in-ruby-application.html">Using database from a Ruby or Rails application</a></li>
  <li><a href="https://semaphoreapp.com/blog/2013/06/28/testing-rails-apps-that-use-pusher.html">Testing Rails apps that use Pusher with pusher-fake</a></li>
</ul>

<h4>Customizing CI setup for Ruby projects</h4>
<ul>
  <li><a href="/docs/building-project-with-private-gems.html">Building a project with private gems</a></li>
  <li><a href="/docs/running-cucumber-scenarios-in-threads.html">Running Cucumber scenarios in parallel</a></li>
  <li><a href="/docs/running-rspec-specs-in-threads.html">Running RSpec specs in parallel</a></li>
  <li><a href="/docs/languages/ruby/switching-ruby-version-on-specific-branch.html">Switching Ruby version on a specific branch</a></li>
</ul>

<h4>Troubleshooting Ruby builds</h4>
<ul>
  <li><a href="/docs/failed-build-on-db-setup.html">Build fails on db:setup</a></li>
  <li><a href="/docs/fail-unknown-database.html">Fail: 'Unknown database 'xyz_test'' or 'FATAL database 'xyx_test' does not exist'</a></li>
  <li><a href="/docs/fail-could-not-parse-object.html">Fail: 'fatal Could not parse object' during bundle install</a></li>
  <li><a href="/docs/fail-file-not-found-db-create.html">Fail: 'file not found db:create (ArgumentError)'</a></li>
  <li><a href="/docs/fail-permission-denied-from-github.html">Fail: Permission denied from GitHub on bundle install</a></li>
  <li><a href="/docs/fail-sphinx-tests.html">Fail: Sphinx tests</a></li>
  <li><a href="/docs/failed-heroku-db-migration-reported-as-passed.html">Failed Heroku db:migrate reported as passed</a></li>
  <li><a href="/docs/issues-with-capybara-webkit.html">I’m having issues with capybara-webkit</a></li>
  <li><a href="/docs/pending-cucumber-scenarios.html">Pending Cucumber scenarios</a></li>
  <li><a href="/docs/class-require-fails.html">Requiring a class file fails</a></li>
  <li><a href="/docs/selenium-unable-to-obtain-connection.html">Selenium tests are unable to obtain connection to Firefox</a></li>
  <li><a href="/docs/fail-real-http-connections-are-disabled.html">Tests or setup fail with "Real HTTP connections are disabled."</a></li>
</ul>
