<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">Activity Monitor</div>
  <a href="/docs/activity-monitor.html" class="link-reset db normal black-50 hover-black-80 pv1">Activity Monitor</a>
  <div hidden="true" class="article-key">How Semaphore scheduler works</div>
  <a href="/docs/how-semaphore-scheduler-works.html" class="link-reset db normal black-50 hover-black-80 pv1">How Semaphore scheduler works</a>
  <div hidden="true" class="article-key">How to skip building some commits with [ci skip]</div>
  <a href="/docs/how-to-skip-building-for-some-commits-with-ci-skip.html" class="link-reset db normal black-50 hover-black-80 pv1">How to skip building some commits with [ci skip]</a>
  <div hidden="true" class="article-key">Scheduling daily and hourly builds</div>
  <a href="/docs/scheduling-builds.html" class="link-reset db normal black-50 hover-black-80 pv1">Scheduling daily and hourly builds</a>
  <div hidden="true" class="article-key">Set high priority branches</div>
  <a href="/docs/set-high-priority-branches.html" class="link-reset db normal black-50 hover-black-80 pv1">Set high priority branches</a>
  <div hidden="true" class="article-key">Set queued builds cancellation strategy</div>
  <a href="/docs/set-queued-builds-cancellation-strategy.html" class="link-reset db normal black-50 hover-black-80 pv1">Set queued builds cancellation strategy</a>
  <div hidden="true" class="article-key">Turn off automatic testing of new branches</div>
  <a href="/docs/turn-off-automatic-testing-of-new-branches.html" class="link-reset db normal black-50 hover-black-80 pv1">Turn off automatic testing of new branches</a>
  <div hidden="true" class="article-key">Using Fast Failing</div>
  <a href="/docs/using-fast-failing.html" class="link-reset db normal black-50 hover-black-80 pv1">Using Fast Failing</a>
  <div hidden="true" class="article-key">How to fetch the pull request number from Github repository</div>
  <a href="/docs/how-to-fetch-pull-request-number-from-github.html" class="link-reset db normal black-50 hover-black-80 pv1">How to fetch the pull request number from Github repository</a>
  <div hidden="true" class="article-key">How to build all branches except branches in a blacklist</div>
  <a href="/docs/how-to-build-all-branches-except-branches-in-a-blacklist.html" class="link-reset db normal black-50 hover-black-80 pv1">How to build all branches except branches in a blacklist</a>
</div>
