<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">Android</div>
  <a href="/docs/android.html" class="link-reset db normal black-50 hover-black-80 pv1">Android Development Environment</a>
</div>