<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">Authentication</div>
  <a href="/docs/api_authentication.html" class="link-reset db normal black-50 hover-black-80 pv1">Authentication</a>
  <div hidden="true" class="article-key">Branches & builds</div>
  <a href="/docs/branches-and-builds-api.html" class="link-reset db normal black-50 hover-black-80 pv1">Branches & builds</a>
  <div hidden="true" class="article-key">Projects</div>
  <a href="/docs/projects-api.html" class="link-reset db normal black-50 hover-black-80 pv1">Projects</a>
  <div hidden="true" class="article-key">Servers & deploys</div>
  <a href="/docs/servers-and-deploys-api.html" class="link-reset db normal black-50 hover-black-80 pv1">Servers & deploys</a>
  <div hidden="true" class="article-key">Webhooks</div>
  <a href="/docs/webhooks-api.html" class="link-reset db normal black-50 hover-black-80 pv1">Webhooks</a>
  <div hidden="true" class="article-key">How to make an HTTP POST request from Semaphore Classic build to a URL?</div>
  <a href="/docs/how-to-make-an-http-post-request.html" class="link-reset db normal black-50 hover-black-80 pv1">How to make an HTTP POST request from Semaphore Classic build to a URL?</a>
</div>
