<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">Does Semaphore offer a discount for non-profits?</div>
  <a href="/docs/does-semaphore-offer-a-discount-for-non-profits.html" class="link-reset db normal black-50 hover-black-80 pv1">Does Semaphore offer a discount for non-profits?</a>
  <div hidden="true" class="article-key">Education plans on Semaphore</div>
  <a href="/docs/education-plans.html" class="link-reset db normal black-50 hover-black-80 pv1">Education plans on Semaphore</a>

  <div hidden="true" class="article-key">What's the difference between Semaphore pricing as Heroku add-on and on semaphoreci.com?</div>
  <a href="/docs/heroku-addon-billing.html" class="link-reset db normal black-50 hover-black-80 pv1">What's the difference between Semaphore pricing as Heroku add-on and on semaphoreci.com?</a>

  <div hidden="true" class="article-key">How to change credit card information?</div>
  <a href="/docs/how-to-change-credit-card-information.html" class="link-reset db normal black-50 hover-black-80 pv1">How to change credit card information?</a>

  <div hidden="true" class="article-key">How to change update address?</div>
  <a href="/docs/how-to-update-address.html" class="link-reset db normal black-50 hover-black-80 pv1">How to update address?</a>

  <div hidden="true" class="article-key">Where can I find my invoices?</div>
  <a href="/docs/where-can-I-find-my-invoices.html" class="link-reset db normal black-50 hover-black-80 pv1">Where can I find my invoices?</a>

  <div hidden="true" class="article-key">How upgrading your plan works?</div>
  <a href="/docs/how-upgrading-your-plan-works.html" class="link-reset db normal black-50 hover-black-80 pv1">How upgrading your plan works?</a>

  <div hidden="true" class="article-key">Transferring project ownership</div>
  <a href="/docs/transferring-project-ownership.html" class="link-reset db normal black-50 hover-black-80 pv1">Transferring project ownership</a>

  <div hidden="true" class="article-key">Transferring subscription from user account to organization</div>
  <a href="/docs/transferring-subscription-from-user-account-to-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Transferring subscription from user account to organization</a>
</div>
