<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">Annual subscriptions</div>
  <a href="/docs/annual-subscriptions.html" class="link-reset db normal black-50 hover-black-80 pv1">Annual subscriptions</a>

  <div hidden="true" class="article-key">Changing credit card information</div>
  <a href="/docs/changing-credit-card-information.html" class="link-reset db normal black-50 hover-black-80 pv1">Changing credit card information</a>

  <div hidden="true" class="article-key">Changing mailing address</div>
  <a href="/docs/how-to-change-mailing-address.html" class="link-reset db normal black-50 hover-black-80 pv1">Changing mailing address</a>

  <div hidden="true" class="article-key">Education plans on Semaphore</div>
  <a href="/docs/education-plans.html" class="link-reset db normal black-50 hover-black-80 pv1">Education plans on Semaphore</a>

  <div hidden="true" class="article-key">Invoices</div>
  <a href="/docs/invoices.html" class="link-reset db normal black-50 hover-black-80 pv1">Invoices</a>

  <div hidden="true" class="article-key">Non-profit discount</div>
  <a href="/docs/non-profit-discount.html" class="link-reset db normal black-50 hover-black-80 pv1">Non-profit discount</a>

  <div hidden="true" class="article-key">Semaphore as a Heroku add-on pricing</div>
  <a href="/docs/heroku-addon-pricing.html" class="link-reset db normal black-50 hover-black-80 pv1">Semaphore as a Heroku add-on pricing</a>

  <div hidden="true" class="article-key">Transferring project ownership</div>
  <a href="/docs/transferring-project-ownership.html" class="link-reset db normal black-50 hover-black-80 pv1">Transferring project ownership</a>

  <div hidden="true" class="article-key">Transferring subscription from user account to organization</div>
  <a href="/docs/transferring-subscription-from-user-account-to-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Transferring subscription from user account to organization</a>

  <div hidden="true" class="article-key">Upgrading plans</div>
  <a href="/docs/upgrading-plans.html" class="link-reset db normal black-50 hover-black-80 pv1">Upgrading plans</a>
