<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">Build fails on db:setup</div>
  <a href="/docs/failed-build-on-db-setup.html" class="link-reset db normal black-50 hover-black-80 pv1">Build fails on db:setup</a>
  <div hidden="true" class="article-key">Building projects that take longer than 60 minutes</div>
  <a href="/docs/build-takes-longer-than-an-hour.html" class="link-reset db normal black-50 hover-black-80 pv1">Building projects that take longer than 60 minutes</a>
  <div hidden="true" class="article-key">Fail: 'Unknown database 'xyz_test'' or 'FATAL database 'xyx_test' does not exist'</div>
  <a href="/docs/fail-unknown-database.html" class="link-reset db normal black-50 hover-black-80 pv1">Fail: 'Unknown database 'xyz_test'' or 'FATAL database 'xyx_test' does not exist'</a>
  <div hidden="true" class="article-key">Fail: 'fatal Could not parse object' during bundle install</div>
  <a href="/docs/fail-could-not-parse-object.html" class="link-reset db normal black-50 hover-black-80 pv1">Fail: 'fatal Could not parse object' during bundle install</a>
  <div hidden="true" class="article-key">Fail: 'file not found db:create (ArgumentError)'</div>
  <a href="/docs/fail-file-not-found-db-create.html" class="link-reset db normal black-50 hover-black-80 pv1">Fail: 'file not found db:create (ArgumentError)'</a>
  <div hidden="true" class="article-key">Fail: Permission denied from GitHub on bundle install</div>
  <a href="/docs/fail-permission-denied-from-github.html" class="link-reset db normal black-50 hover-black-80 pv1">Fail: Permission denied from GitHub on bundle install</a>
  <div hidden="true" class="article-key">Fail: Sphinx tests</div>
  <a href="/docs/fail-sphinx-tests.html" class="link-reset db normal black-50 hover-black-80 pv1">Fail: Sphinx tests</a>
  <div hidden="true" class="article-key">Failed build reported as passed</div>
  <a href="/docs/failed-build-reported-as-passed.html" class="link-reset db normal black-50 hover-black-80 pv1">Failed build reported as passed</a>
  <div hidden="true" class="article-key">I’m having issues with capybara-webkit</div>
  <a href="/docs/issues-with-capybara-webkit.html" class="link-reset db normal black-50 hover-black-80 pv1">I’m having issues with capybara-webkit</a>
  <div hidden="true" class="article-key">Pending Cucumber scenarios</div>
  <a href="/docs/pending-cucumber-scenarios.html" class="link-reset db normal black-50 hover-black-80 pv1">Pending Cucumber scenarios</a>
  <div hidden="true" class="article-key">Requiring a class file fails</div>
  <a href="/docs/class-require-fails.html" class="link-reset db normal black-50 hover-black-80 pv1">Requiring a class file fails</a>
  <div hidden="true" class="article-key">Selenium tests are unable to obtain connection to Firefox</div>
  <a href="/docs/selenium-unable-to-obtain-connection.html" class="link-reset db normal black-50 hover-black-80 pv1">Selenium tests are unable to obtain connection to Firefox</a>
  <div hidden="true" class="article-key">How to update Chrome on Semaphore?</div>
  <a href="/docs/how-to-update-chrome.html" class="link-reset db normal black-50 hover-black-80 pv1">How to update Chrome on Semaphore?</a>
  <div hidden="true" class="article-key">Tests fail on Semaphore but pass locally</div>
  <a href="/docs/tests-fail-on-semaphore-but-pass-locally.html" class="link-reset db normal black-50 hover-black-80 pv1">Tests fail on Semaphore but pass locally</a>
  <div hidden="true" class="article-key">Tests or setup fail with "Real HTTP connections are disabled."</div>
  <a href="/docs/fail-real-http-connections-are-disabled.html" class="link-reset db normal black-50 hover-black-80 pv1">Tests or setup fail with "Real HTTP connections are disabled."</a>
  <div hidden="true" class="article-key">How to forward the browser window from an SSH session on Semaphore?</div>
  <a href="/docs/how-to-forward-browser-window-from-ssh-session.html" class="link-reset db normal black-50 hover-black-80 pv1">How to forward the browser window from an SSH session on Semaphore?</a>
</div>
