<div class="pl4 mb3 category-div" hidden="true">

  <div hidden="true" class="article-key">CLI Overview</div>
  <a href="/docs/cli-overview.html" class="link-reset db normal black-50 hover-black-80 pv1">Overview</a>

  <div hidden="true" class="article-key">Semaphore CLI: Organizations</div>
  <a href="/docs/cli-organizations.html" class="link-reset db normal black-50 hover-black-80 pv1">Organizations</a>

  <div hidden="true" class="article-key">Semaphore CLI: Teams</div>
  <a href="/docs/cli-teams.html" class="link-reset db normal black-50 hover-black-80 pv1">Teams</a>

  <div hidden="true" class="article-key">Semaphore CLI: Projects</div>
  <a href="/docs/cli-projects.html" class="link-reset db normal black-50 hover-black-80 pv1">Projects</a>

  <div hidden="true" class="article-key">Semaphore CLI: Secrets</div>
  <a href="/docs/cli-secrets.html" class="link-reset db normal black-50 hover-black-80 pv1">Secrets</a>

</div>
