<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">How can I add or remove a collaborator from my project?</div>
  <a href="/docs/how-to-add-or-remove-collaborator.html" class="link-reset db normal black-50 hover-black-80 pv1">How can I add or remove a collaborator from my project?</a>
</div>
