<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">Docker</div>
  <a href="/docs/docker.html" class="link-reset db normal black-50 hover-black-80 pv1">Docker on Semaphore</a>
  <div hidden="true" class="article-key">Setting up continuous integration for a Docker project</div>
  <a href="/docs/docker/setting-up-continuous-integration-for-docker-project.html" class="link-reset db normal black-50 hover-black-80 pv1">Setting up continuous integration for a Docker project</a>
  <div hidden="true" class="article-key">Testing multi-container applications with Docker Compose and Semaphore</div>
  <a href="/docs/docker/testing-multicontainer-apps-with-docker-compose-and-semaphore.html" class="link-reset db normal black-50 hover-black-80 pv1">Testing multi-container applications with Docker Compose</a>
  <div hidden="true" class="article-key">Setting up continuous delivery with AWS EC2 Container Registry</div>
  <a href="/docs/docker/continuous-delivery-aws-container-registry.html" class="link-reset db normal black-50 hover-black-80 pv1">AWS EC2 Container Registry</a>
  <div hidden="true" class="article-key">Setting up continuous delivery with Docker Hub</div>
  <a href="/docs/docker/continuous-delivery-docker-hub.html" class="link-reset db normal black-50 hover-black-80 pv1">Docker Hub</a>
  <div hidden="true" class="article-key">Setting up continuous delivery with Google Container Registry</div>
  <a href="/docs/docker/continuous-delivery-google-container-registry.html" class="link-reset db normal black-50 hover-black-80 pv1">Google Container Registry</a>
  <div hidden="true" class="article-key">Setting up continuous delivery with Quay.io</div>
  <a href="/docs/docker/continuous-delivery-quayio.html" class="link-reset db normal black-50 hover-black-80 pv1">Quay.io</a>
  <div hidden="true" class="article-key">Setting up continuous delivery with a custom or on-premise container registry</div>
  <a href="/docs/docker/continuous-delivery-on-premise-container-registry.html" class="link-reset db normal black-50 hover-black-80 pv1">Custom or self-hosted container registry</a>
</div>
