<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">Getting started with Semaphore Classic</div>
  <a href="/docs/guide-to-getting-started-with-semaphore.html" class="link-reset db normal black-50 hover-black-80 pv1">Getting started with Semaphore Classic</a>
  <div hidden="true" class="article-key">Adding your GitHub or Bitbucket project to Semaphore Classic</div>
  <a href="/docs/adding-github-bitbucket-project-to-semaphore.html" class="link-reset db normal black-50 hover-black-80 pv1">Adding your GitHub or Bitbucket project to Semaphore Classic</a>
  <div hidden="true" class="article-key">Building pull requests</div>
  <a href="/docs/building-pull-requests.html" class="link-reset db normal black-50 hover-black-80 pv1">Building pull requests</a>
  <div hidden="true" class="article-key">How to get a build badge</div>
  <a href="/docs/how-to-get-build-badge.html" class="link-reset db normal black-50 hover-black-80 pv1">How to get a build badge</a>
  <div hidden="true" class="article-key">Running tests in parallel</div>
  <a href="/docs/running-tests-in-parallel.html" class="link-reset db normal black-50 hover-black-80 pv1">Running tests in parallel</a>
</div>
