<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">Connecting a Git Service Account</div>
  <a href="/docs/connecting-a-git-service-account.html" class="link-reset db normal black-50 hover-black-80 pv1">Connecting a Git Service Account</a>
  <div hidden="true" class="article-key">Removing a Branch from Bitbucket UI Doesn't Remove the Branch on Semaphore</div>
  <a href="/docs/removing-a-branch-from-bitbucket-ui-doesnt-remove-the-branch-on-semaphore.html" class="link-reset db normal black-50 hover-black-80 pv1">Removing a Branch from Bitbucket UI Doesn't Remove the Branch on Semaphore</a>
  <div hidden="true" class="article-key">Restoring an invalid Git Service Connection</div>
  <a href="/docs/restoring-an-invalid-git-service-connection.html" class="link-reset db normal black-50 hover-black-80 pv1">Restoring an invalid Git Service Connection</a>
  <div hidden="true" class="article-key">Revoking a Git Service Connection</div>
  <a href="/docs/revoking-a-git-service-connection.html" class="link-reset db normal black-50 hover-black-80 pv1">Revoking a Git Service Connection</a>
</div>
