<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">About Insights</div>
  <a href="/docs/insights/about-insights.html" class="link-reset db normal black-50 hover-black-80 pv1">About Insights</a>
  <div hidden="true" class="article-key">Enabling Test file performance Insights</div>
  <a href="/docs/insights/enabling-insights.html" class="link-reset db normal black-50 hover-black-80 pv1">Enabling Test file performance Insights</a>
  <div hidden="true" class="article-key">Test file performance troubleshooting</div>
  <a href="/docs/insights/troubleshooting-insights.html" class="link-reset db normal black-50 hover-black-80 pv1">Test file performance troubleshooting</a>
  <div hidden="true" class="article-key">Interpreting Test file performance data</div>
  <a href="/docs/insights/interpreting-insights-data.html" class="link-reset db normal black-50 hover-black-80 pv1">Interpreting Test file performance data</a>
</div>
