<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">C/C++ Continuous Integration</div>
  <a href="/docs/c-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">C/C++</a>
  <div hidden="true" class="article-key">Clojure Continuous Integration</div>
  <a href="/docs/clojure-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">Clojure</a>
  <div hidden="true" class="article-key">Elixir Continuous Integration</div>
  <a href="/docs/elixir-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">Elixir</a>
  <div hidden="true" class="article-key">Erlang Continuous Integration</div>
  <a href="/docs/erlang-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">Erlang</a>
  <div hidden="true" class="article-key">Go (Golang) Continuous Integration</div>
  <a href="/docs/go-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">Go</a>
  <div hidden="true" class="article-key">Java Continuous Integration</div>
  <a href="/docs/java-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">Java</a>
  <div hidden="true" class="article-key">JavaScript Continuous Integration</div>
  <a href="/docs/javascript-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">JavaScript</a>
  <div hidden="true" class="article-key">PHP Continuous Integration</div>
  <a href="/docs/php-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">PHP</a>
  <div hidden="true" class="article-key">Python Continuous Integration</div>
  <a href="/docs/python-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">Python</a>
  <div hidden="true" class="article-key">Ruby Continuous Integration</div>
  <a href="/docs/ruby-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">Ruby</a>
  <div hidden="true" class="article-key">Scala Continuous Integration</div>
  <a href="/docs/scala-continuous-integration.html" class="link-reset db normal black-50 hover-black-80 pv1">Scala</a>
</div>
