<div class="pl4 mb3 category-div" hidden="true">
  <div hidden="true" class="article-key">About organizations</div>
  <a href="/docs/organizations/about-organizations.html" class="link-reset db normal black-50 hover-black-80 pv1">About organizations</a>
  <div hidden="true" class="article-key">Adding a user to an organization</div>
  <a href="/docs/organizations/adding-a-user-to-an-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Adding a user to an organization</a>
  <div hidden="true" class="article-key">Assigning different roles to collaborators on a project</div>
  <a href="/docs/organizations/assigning-different-roles-to-collaborators-on-a-project.html" class="link-reset db normal black-50 hover-black-80 pv1">Assigning different roles to collaborators on a project</a>
  <div hidden="true" class="article-key">Can I convert my user account into an organization?</div>
  <a href="/docs/organizations/can-i-convert-my-user-account-into-an-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Can I convert my user account into an organization?</a>
  <div hidden="true" class="article-key">Can I limit the permissions a user has on a specific project?</div>
  <a href="/docs/organizations/can-i-limit-the-permissions-a-user-has-on-a-specific-project.html" class="link-reset db normal black-50 hover-black-80 pv1">Can I limit the permissions a user has on a specific project?</a>
  <div hidden="true" class="article-key">Creating a team</div>
  <a href="/docs/organizations/creating-a-team.html" class="link-reset db normal black-50 hover-black-80 pv1">Creating a team</a>
  <div hidden="true" class="article-key">Customizing an organization profile</div>
  <a href="/docs/organizations/customizing-an-organization-profile.html" class="link-reset db normal black-50 hover-black-80 pv1">Customizing an organization profile</a>
  <div hidden="true" class="article-key">Deleting an organization</div>
  <a href="/docs/organizations/deleting-an-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Deleting an organization</a>
  <div hidden="true" class="article-key">Granting users permission to manage projects within an organization</div>
  <a href="/docs/organizations/granting-users-permission-to-manage-projects-within-an-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Granting users permission to manage projects within an organization</a>
  <div hidden="true" class="article-key">Permission levels in an organization</div>
  <a href="/docs/organizations/permission-levels-in-an-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Permission levels in an organization</a>
  <div hidden="true" class="article-key">Removing a user from a team in your organization</div>
  <a href="/docs/organizations/removing-a-user-from-a-team-in-your-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Removing a user from a team in your organization</a>
  <div hidden="true" class="article-key">Removing a user from multiple teams in your organization</div>
  <a href="/docs/organizations/removing-a-user-from-multiple-teams-in-your-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Removing a user from multiple teams in your organization</a>
  <div hidden="true" class="article-key">Removing a user from your organization</div>
  <a href="/docs/organizations/removing-a-user-from-your-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Removing a user from your organization</a>
  <div hidden="true" class="article-key">Setting up an organization</div>
  <a href="/docs/organizations/setting-up-an-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Setting up an organization</a>
  <div hidden="true" class="article-key">Transferring a project to an organization</div>
  <a href="/docs/organizations/transferring-a-project-to-an-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">Transferring a project to an organization</a>
  <div hidden="true" class="article-key">Transferring organization ownership</div>
  <a href="/docs/organizations/transferring-organization-ownership.html" class="link-reset db normal black-50 hover-black-80 pv1">Transferring organization ownership</a>
  <div hidden="true" class="article-key">What is the difference between a user account and an organization?</div>
  <a href="/docs/organizations/what-is-the-difference-between-a-user-account-and-an-organization.html" class="link-reset db normal black-50 hover-black-80 pv1">What is the difference between a user account and an organization?</a>
</div>
