---
layout: post
title: Clojure Continuous Integration
alias: docs/clojure.html
category: Languages
---

Semaphore makes it easy to test Clojure projects with Leiningen and Java
preinstalled. When you add your repository for the first time, Semaphore will
analyze the code, recognize that it is a Clojure project and suggest you to
run `lein test` as your CI step. You can easily customize the build sequence
to match your needs. Your project dependencies are also automatically cached
and reused across builds.

<h4>Clojure essentials</h4>
<ul>
  <li><a href="/docs/languages/clojure/setting-up-clojure-project-on-semaphore.html">Setting up a Clojure project on Semaphore</a></li>
  <li><a href="/docs/languages/clojure/clojure-support-on-semaphore.html">Clojure support on Semaphore</a></li>
</ul>

<h4>Guides</h4>
<ul>
  <li><a href="/docs/clojure-testing-libraries.html">Clojure testing libraries</a></li>
  <li><a href="/blog/2014/09/23/testing-clojure-with-expectations.html">Testing Clojure with Expectations</a></li>
</ul>

<h4>Troubleshooting Clojure builds</h4>
<ul>
  <li><a href="/docs/general-troubleshooting.html">General build troubleshooting</a></li>
</ul>
