---
layout: post
title: Go
category: Languages
---

Setting up a Go project on Semaphore is easy. The first time you add a Go
project, Semaphore will analyze it and propose some frequently used build
commands to speed up the setup process. If needed, these commands can be
customized to better suit your needs.

To achieve faster build times, we recommend caching your project's dependencies
with [godep](https://github.com/tools/godep#install).

<h4>Go essentials</h4>
<ul>
  <li><a href="/docs/languages/go/setting-up-go-project-on-semaphore.html">Setting up a Go project on Semaphore</a></li>
  <li><a href="/docs/languages/go/go-support-on-semaphore.html">Go support on Semaphore</a></li>
</ul>
