
<div class="fl w-100 w-70-l br-l b--black-10 ph3 ph4-ns pb4">

  <div class="pv3-ns pa4-l bb b--black-10">
    <a href="#docs-nav" class="f6 dn-l dib link-reset black-50 bg-black-05 hover-bg-black-10 bg-animate pv1 ph3 mb3 br2">Docs Navigation</a>
    <h2 class="f3 lh-title mv2"><a href="#" class="link-reset underline-hover">Welcome to Semaphore Docs</a></h2>
    <p class="f4 mv2 mw6 center">
    There's a good chance your question about using it will be answered here. This website is <a href="https://github.com/renderedtext/semaphore-docs-new">open source</a> and we welcome your issue reports and pull requests.
    </p>
  </div>

  <div class="f4 pv3 pa4-l bb b--black-10">
    <div class="fr-m mt2-m">
      <svg width="42px" height="42px" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M17 6l16 15-16 15V26H0V16h17z"/></defs><g fill="none" fill-rule="evenodd"><rect fill="#6256AA" width="42" height="42" rx="4"/><rect fill="#B9AFF9" x="1" y="1" width="40" height="40" rx="3"/><use fill="#D8D2FC" xlink:href="#a"/><path stroke="#6256AA" d="M17.5 7.154L32.27 21 17.5 34.846V25.5H.5v-9h17V7.154z"/><path fill="#6256AA" d="M1 6h16v1H1zm0 5h16v1H1zm0 19h16v1H1zm0 5h16v1H1z"/><path fill="#8B7FDC" d="M1 7h16v4H1zm0 24h16v4H1z"/><path fill="#ADA2EA" d="M1 26h16v4H1zm0-14h16v4H1z"/><circle fill="#FFF" cx="32" cy="5" r="1"/><circle fill="#FFF" cx="27" cy="32" r="1"/><circle fill="#FFF" cx="36.5" cy="22.5" r="1"/><circle fill="#FFF" cx="34.5" cy="28.5" r="1"/><circle fill="#FFF" cx="6.5" cy="38.5" r="1"/><circle fill="#FFF" cx="34.5" cy="36.5" r="1"/><circle fill="#FFF" cx="29.5" cy="14.5" r="1"/><circle fill="#FFF" cx="25.5" cy="7.5" r="1"/><circle fill="#FFF" cx="7.5" cy="3.5" r="1"/><circle fill="#FFF" cx="37.5" cy="12.5" r="1"/></g></svg>
    </div>
    <h3 class="f4 lh-title mv2">Getting started</h3>
    <div class="pb1"><a href="/docs/adding-github-bitbucket-project-to-semaphore.html">Adding your GitHub or Bitbucket project to Semaphore</a></div>
    <div class="pb1"><a href="/docs/running-tests-in-parallel.html">Running tests in parallel</a></div>
    <div class="pb1"><a href="/docs/how-to-get-build-badge.html">How to get a build badge</a></div>
    <div class="pb1"><a href="/docs/building-pull-requests.html">Building pull requests</a></div>
  </div>

  <div class="f4 pv3 pa4-l">
    <div class="fr-m mt2-m">
      <svg width="42px" height="42px" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><rect fill="#36779B" width="42" height="42" rx="4"/><rect fill="#81C7ED" x="1" y="1" width="40" height="40" rx="3"/><path fill="#36779B" d="M36 6h6v13H11v-7h6V6h12V1h7v5"/><path d="M30 1h5v5h-5V1zm1 1v3h1V2h-1zm2 0v3h1V2h-1zm-3 5h5v5h-5V7zm1 1v3h1V8h-1zm2 0v3h1V8h-1zm3-1h5v5h-5V7zm1 1v3h1V8h-1zm2 0v3h1V8h-1zM24 7h5v5h-5V7zm1 1v3h1V8h-1zm2 0v3h1V8h-1zm-9-1h5v5h-5V7zm1 1v3h1V8h-1zm2 0v3h1V8h-1zm-9 5h5v5h-5v-5zm1 1v3h1v-3h-1zm2 0v3h1v-3h-1zm3-1h5v5h-5v-5zm1 1v3h1v-3h-1zm2 0v3h1v-3h-1zm3-1h5v5h-5v-5zm1 1v3h1v-3h-1zm2 0v3h1v-3h-1zm3-1h5v5h-5v-5zm1 1v3h1v-3h-1zm2 0v3h1v-3h-1zm3-1h5v5h-5v-5zm1 1v3h1v-3h-1zm2 0v3h1v-3h-1z" fill="#97D6F8"/><path d="M41.5 18.5h-35S4.99 39.498 26.007 39.498C35.33 39.498 41.5 35.8 41.5 35.8V18.5z" stroke="#36779B" fill="#97D6F8" stroke-linecap="round"/><path d="M25.815 30.003c1.08 0 1.958-.882 1.958-1.97 0-1.09-.877-1.972-1.958-1.972-1.08 0-1.958.886-1.958 1.974 0 1.09.877 1.97 1.958 1.97" fill="#FFF"/><path d="M26.202 27.565c0-.18.09-.335.22-.44-.154-.078-.325-.127-.51-.127-.617 0-1.118.504-1.118 1.126 0 .622.5 1.126 1.118 1.126.618 0 1.12-.504 1.12-1.126l-.007-.065c-.08.04-.165.07-.26.07-.31 0-.563-.254-.563-.567" fill="#4D5C64" fill-rule="nonzero"/><path d="M11.34 33.034c1.393.17 6.92.18 10.755-1.532 1.923 3.46 6.234 6.41 9.046 7.103-10.27 1.44-16.294-1.353-19.8-5.57z" fill="#FFF"/><path d="M10.676 32.97s5.835.212 11.37-1.736" stroke="#36779B"/></g></svg>
    </div>
    <h3 class="f4 lh-title mv2">Docker on Semaphore</h3>
    <div class="pb1"><a href="/docs/docker/setting-up-continuous-integration-for-docker-project.html">Setting up continuous integration for a Docker project</a></div>
    <div class="pb1"><a href="/docs/docker/testing-multicontainer-apps-with-docker-compose-and-semaphore.html">Testing multi-container applications with Docker Compose</a></div>
    <div class="pb1"><a href="/docs/docker/continuous-delivery-aws-container-registry.html">AWS EC2 Container Registry</a></div>
    <div class="pb1"><a href="/docs/docker/continuous-delivery-docker-hub.html">Docker Hub</a></div>
    <div class="pb1"><a href="/docs/docker/continuous-delivery-google-container-registry.html">Google Container Registry</a></div>
    <div class="pb1"><a href="/docs/docker/continuous-delivery-heroku-container-registry.html">Heroku Container Registry</a></div>
    <div class="pb1"><a href="/docs/docker/continuous-delivery-quayio.html">Quay.io</a></div>
    <div class="pb1"><a href="/docs/docker/continuous-delivery-on-premise-container-registry.html">Custom or self-hosted container registry</a></div>
  </div>
</div>
