<hgroup class="page-header">
  <h1>Developing with Semaphore</h1>
</hgroup>

<p>Welcome to the help and documentation section of <a href="https://semaphoreapp.com">Semaphore</a>, a hosted continuous integration and deployment service. There's a good chance your question about using it will be answered here. If not, please <a href="mailto:328e3e4aab1aefecc60ed7e4cb33910bc3fbdeb2@incoming.intercom.io">email us</a>. This website is <a href="https://github.com/renderedtext/semaphore-docs-new">open source</a> — we welcome issues and pull requests.</p>

<% categories.each do |category, pages| %>
  <h3><%= category %></h3>
  <ul>
    <% sort_pages(pages).each do |page| %>
      <li><%= link_to page.data.title, page.url %></li>
    <% end %>
  </ul>
<% end %>
