<h1>Developing with Semaphore</h1>
<p>Welcome to the help and documentation section of Semaphore. There's a good chance your question might be answered here. If not, please <a href="mailto:328e3e4aab1aefecc60ed7e4cb33910bc3fbdeb2@incoming.intercom.io">email us</a>. This website is <a href="https://github.com/renderedtext/semaphore-docs">open source</a> - issues and pull requests are welcome.</p>

<h2>Table of Contents</h2>

<% categories.each do |category, pages| %>
  <h3><%= category %></h3>
  <ul>
    <% pages.each do |page| %>
      <li><%= link_to page.data.title, page.url %></li>
    <% end %>
  </ul>
<% end %>
