---
layout: post
title: PHP Continuous Integration
alias: docs/php.html
category: Languages
---

This document contains information related to projects based on the Ubuntu 14.04 image. 
If you are using the Ubuntu 18.04 image for your projects, please refer to [this page](https://semaphoreci.com/docs/ubuntu-1804.html). 

If you are using Ubuntu 14.04 image and you want to switch to Ubuntu 18.04 be sure to check our [upgrade guide](https://semaphoreci.com/docs/ubuntu-1804.html#how-to-upgrade).
___

Setting up a continuous integration process for PHP is easy on Semaphore, with
all major tools and extensions being preinstalled and ready to use in the build
environment. When you add a PHP project on Semaphore, it will analyze its code
and propose a set of build commands to test the project. Often no more setup is required to enjoy the full power of continuous integration. Your project
dependencies are also automatically cached and reused across builds.

<h4>PHP essentials</h4>
<ul>
  <li><a href="/docs/languages/php/setting-up-php-project-on-semaphore.html">Setting up a PHP project on Semaphore</a></li>
  <li><a href="/docs/languages/php/php-support-on-semaphore.html">PHP support on Semaphore</a></li>
  <li><a href="/docs/languages/php/installing-php-extensions-and-packages.html">Installing PHP extensions and packages</a></li>
</ul>


<h4>Guides</h4>

<ul>
  <li><a href="/docs/continuous-integration-deployment-php-with-github-semaphore-heroku.html">Continuous Integration and Deployment of PHP applications from GitHub to Heroku with Semaphore</a></li>
</ul>

<h4>Troubleshooting PHP builds</h4>
<ul>
  <li><a href="/docs/general-troubleshooting.html">General build troubleshooting</a></li>
</ul>
