---
layout: post
title: Ubuntu 18.04
category: The Semaphore platform
---

### <a name="ubuntu-1804" href="#ubuntu-1804">Ubuntu 18.04 LTS 64-bit</a>

Ubuntu 18.04 standard platform ships with a number of pre-installed languages, DB backends,
and libraries. It's the go-to platform if you want a fully configured CI
environment, with minimal setup from your side.

To find more information about other supported platforms on Semaphore, please refer to the corresponding [suported stack page](/supported-stack).

#### <a name="available-components-and-services" href="#available-components-and-services">Available components & services</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
<tr><td>Ansible</td><td> 2.9.6</td></tr>
<tr><td>Bundler</td><td> 1.16<br> 2.0</td></tr>
<tr><td>Chrome/ChromeDriver </td><td> 80</td></tr>
<tr><td>Docker-compose</td><td> 1.124.1</td></tr>
<tr><td>Docker</td><td> 19.03</td></tr>
<tr><td>Dockerize</td><td> 0.6.1</td></tr>
<tr><td>Elasticsearch</td><td> 7.6.1</td></tr>
<tr><td>Elixir</td><td> 1.7.4<br> 1.8.0<br> 1.8.1<br> 1.8.2<br> 1.9.0<br> 1.9.1<br> 1.9.2<br> 1.9.3<br> 1.9.4</td></tr>
<tr><td>Erlang</td><td> 20.3<br> 21.3<br> 22.1</td></tr>
<tr><td>Firefox</td><td> 68.2-esr</td></tr>
<tr><td>Gcc</td><td> 4.8<br> 5<br> 6<br> 7<br> 8</td></tr>
<tr><td>Geckodriver</td><td> 0.26.0</td></tr>
<tr><td>Gems</td><td> 3</td></tr>
<tr><td>Git-LFS</td><td> 2.10.0</td></tr>
<tr><td>Git</td><td> 2.25.1</td></tr>
<tr><td>Go</td><td> 1.10.8<br> 1.11.13<br> 1.12.10<br> 1.13.1</td></tr>
<tr><td>Gradle</td><td> 6.2.1</td></tr>
<tr><td>Heroku</td><td> 7.39</td></tr>
<tr><td>Leiningen</td><td> 2.9.1</td></tr>
<tr><td>Maven</td><td> 3.5.4</td></tr>
<tr><td>MySQL</td><td> 5.7.9</td></tr>
<tr><td>NodeJS</td><td> 8.16.2<br> 10.17.0<br> 12.13.0</td></tr>
<tr><td>OpenJDK</td><td> 1.8<br> 1.11</td></tr>
<tr><td>PhantomJS</td><td> 1.9.8<br> 2.1.1</td></tr>
<tr><td>Php</td><td> 5.6.40<br> 7.0.33<br> 7.1.33<br> 7.2.28<br> 7.3.15<br> 7.4.3</td></tr>
<tr><td>PostgreSQL</td><td> with postgis 2.5: 9.6<br>with postgis 3: 10, 11, 12</td></tr>
<tr><td>Pypy</td><td> 5.8.0</td></tr>
<tr><td>Pypy3</td><td> 5.8.0</td></tr>
<tr><td>Python</td><td> 2.7<br> 3.6<br> 3.7<br> 3.8</td></tr>
<tr><td>Redis</td><td> 5.0.7</td></tr>
<tr><td>Ruby</td><td> 1.9.3<br> 2.0.x<br> 2.1.x<br> 2.2.x<br> 2.3.x<br> 2.4.x<br> 2.5.x<br> 2.6.x<br> 2.7.0</td></tr>
<tr><td>Sbt</td><td> 0.13.17</td></tr>
<tr><td>Scala</td><td> 2.11.11<br> 2.12.7</td></tr>
<tr><td>Sqlite</td><td> 3.22.0</td></tr>
  </tbody>
</table>

__Note:__ If you need to upgrade or install additional packages for your builds,
you can do it with [apt-get](/docs/how-to-install-dependency.html) - either from Ubuntu's
[official distribution channels](http://packages.ubuntu.com) or third-party PPAs.

### <a name="macos-ios" href="#macos-ios">MacOS and iOS</a>

MacOS and iOS are supported in [Semaphore 2.0](https://semaphoreci.com/product).