/* ==========================================================================
   Generals
   ========================================================================== */

html {
  background-color: #f2f2e9;
}

  body {
    color: #4a4a4a;
    font-size: 18px;
  }

@media (max-width: 768px) {

  .container {
    padding-left: 14px;
    padding-right: 14px;
  }

}

/* ==========================================================================
   .col - bootstrap customization
   ========================================================================== */

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  padding-right: 14px;
  padding-left: 14px;
}

/* ==========================================================================
   wells - bootstrap customization
   ========================================================================== */

.well {
  min-height: 20px;
  padding: 28px;
  margin-bottom: 28px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.well-page {
  padding-left: 56px;
  padding-right: 56px;
}

@media (max-width: 768px) {
  .well-page {
    padding-left: 28px;
    padding-right: 28px;
  }
}

/* Options list */

.options-list {
  border: 2px solid #ceceb6;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.options-list-item {
  padding: 56px;
  background-color: #fff;
}

.options-list-item + .options-list-item {
  border-top: 2px solid #ceceb6;
}

.options-list-label {
  display: inline-block;
  overflow: hidden;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .options-list-item .btn.pull-right {
    float: none !important;
    display: block;
    width: auto !important;
    margin-top: 1em;
  }
}

/* ==========================================================================
   Media object - bootstrap customization
   ========================================================================== */

.media > .pull-left {
  margin-right: 28px;
}

/* ==========================================================================
   modals - bootstrap customization
   ========================================================================== */

.modal-dialog {
  width: 778px;
  padding-top: 20%;
}
  
  .modal-content-yt {
    /*background-color: transparent;*/
    border-radius: 0;
    /*border: none;*/
  }

    .modal-content-yt .modal-body {
      padding: 7px;
      width: 758px;
      height: 430px;
    }

    .modal-content-yt iframe {
      width: 740px;
      height: 416px;
      display: block;
      margin: 0 auto;
    }

/* Responsive embeds
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
*/

/* ==========================================================================
   header
   ========================================================================== */  
  
header {
  margin:0;
}  


/* ==========================================================================
   footer
   ========================================================================== */ 
   
footer{
  color: #a3a387;
  margin: 112px 0;
}   

@media (max-width: 992px) {
  footer{
    margin: 56px 0;
  } 
}
  
   
/* =================================================================================================
   .navbar, .navbar-nav, .navbar-btn, navbar-brand - bootstrap customization .subnavigation
   ================================================================================================= */  

.navbar { 
  background-color: transparent;
  margin: 28px 0 0 0;
  padding: 0;
  border-radius: 0;
  min-height: 50px;
}
 
.navbar-brand {
  padding: 0 15px;
  margin-top: 5px;
}

.navbar-nav {
  padding: 0;
  margin: 0; 
} 
.navbar-nav > li{
  margin: 0 14px;
  display: inline-block;
  float: none
}
.navbar-nav > li > a {
  color: #4a4a4a;
  font-weight: bold;
  padding: 14px 0 0 0;
  border-radius: 0; 
  font-size: 14px;  
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  color: #8a0808;
}
 
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  background-color: transparent;
  border-bottom: 4px solid #8a0808;
}

.btn-bordered {
  color: #8a0808 !important;
  font-weight: normal !important;  
  padding: 7px 14px !important;
  margin: 7px 0 !important;
  font-weight: normal;
  background-color: transparent;
  border: 2px solid #ceceb6 !important;
  border-radius: 3px !important;
  font-size: 14px;
  text-transform: none !important;
} 

.btn-bordered:focus,
.btn-bordered:hover {
  /*color: #4a4a4a !important;*/
  border-color: #aaa995 !important;
  text-decoration: none;
}

.btn-bordered:active,
.btn-bordered.active {
  position: relative; top: 1px;
  background-color: rgba(0,0,0,.05) !important;
}

.btn-group > .btn-bordered {
  padding-left: 28px !important;
  padding-right: 28px !important;
}

.btn-group > .btn-bordered:first-child {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right-width: 1px !important;
}

.btn-group > .btn-bordered + .btn-bordered {
  border-radius: 0 !important;
  border-radius: 0 !important;
  border-right-width: 1px;
  border-left-width: 1px;
}

.btn-group > .btn-bordered:last-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-left-width: 1px !important;
}

.btn-group > .btn-bordered:focus,
.btn-group > .btn-bordered:hover {
  border-color: #ceceb6 !important;
  color: #4a4a4a !important;
}

.btn-group > .btn-bordered:active,
.btn-group > .btn-bordered.active {
  background-color: #ceceb6 !important;
  border-color: #ceceb6 !important;
  color: #4a4a4a !important;
  box-shadow: none !important;
  position: static !important;
}

@media (max-width: 767px) {
  /*
  .navbar-nav.pull-right{     
    float: none !important;  
    margin-top: 28px;
    text-align: center;
    width: 100%;
  }
  .navbar-header {
    overflow: hidden;
  }
  .navbar-nav {
    margin: 0 auto;
  }
  
  .navbar-nav > li {
    display: block;
  } 
  .navbar-nav > li a{
    display: inline-block;
  }     
  .navbar-brand {
    margin:0;
  }
  */
  .btn-bordered {
    width: 100px !important;
    margin: 0 auto !important;
  }
}

.sub-navigation {
  margin-top: 28px;
}

.sub-navigation a { 
  color: #8a0808;
}

.sub-navigation  li {
  margin:7px 0;  
}

.sub-navigation > .active > a,
.sub-navigation > .active > a:hover,
.sub-navigation > .active > a:focus {
  border-bottom: 2px solid #8a0808;
  color: #4a4a4a;
  text-decoration: none;
}

.sub-navigation li > a:hover,
.sub-navigation li > a:focus {
  border-bottom: 2px solid #8a0808;
  text-decoration: none;
  color: #4a4a4a;
}


/* ==========================================================================
   .page-block
   ========================================================================== */ 

.page-block {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page-block:nth-last-of-type(-n+2){
/*   border-bottom: none !important; */
}

.overflow-visible{
  overflow:visible;
}

.with-background {
  background-color: #f2f2e9;
}


/* ==========================================================================
   .page-break
   ========================================================================== */ 

.page-break {
  border-top: 2px solid #ceceb6;
}

.page-break-short {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.page-break hr{
  display: none;
}


/* ==========================================================================
   .section-block
   ========================================================================== */ 

.section-block {
  width: 100%;
  position: relative;
  font-size: 18px;
  margin: 56px 0;
}
.section-block:first-child{
  margin-top: 0;
}
.section-block:last-of-type {
  margin-bottom: 112px;  
} 
.section-block-full-width{
  margin-top: 0;
  margin-bottom: 112px; 
}
@media (max-width: 992px) {
  .section-block-full-width{
    margin-bottom: 56px; 
  }
  .section-block:last-of-type {
    margin-bottom: 56px;  
  }   
}


/* ==========================================================================
   .main-title, .subtitle. .lead
   ========================================================================== */

.title{
  font-weight: 800;
  margin: 7px 0;
} 

.main-title {
  font-weight: 800;
  margin: 56px 0;
  padding: 0;
  font-size: 36px;
  letter-spacing: -.05em;
}

   .main-title a {
     color: inherit;
   }

  .main-title a:hover{
    color: #428bca;
    text-decoration: none;
  }

  .main-title .byline {
    display: block;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: -0.025em;
  }
 
.subtitle {
  margin: 28px 0;
  padding: 0;   
  font-size: 24px;   
  font-weight: 700;  
}

.lead {
  font-weight: normal;
  margin: 14px 0;
  padding: 0;  
  font-size: 18px;    
}

@media (max-width: 992px) {

  .main-title {
    font-size: 28px;
    margin: 42px 0;    
  }
  .subtitle {
    font-size: 18px; 
    margin: 24px 0;         
  }  
  .lead {
    font-size: 18px;
    margin: 14px 0;    
    
  } 
}

@media (max-width: 768px) {
  .lead {
    font-size: 18px;
    margin: 14px 0;        
  } 
}


/* ==========================================================================
   Page hgroup, page title + custom subtitle
   ========================================================================== */

.page-title {
  margin: 112px 0 56px 0;
  padding: 0;  
}

.page-title .main-title {
  font-size: 72px; 
  margin: 0;
}
.page-title .subtitle {
  font-size: 24px;  
}

.page-title .lead {
  font-size: 24px;
}

@media (max-height: 900px) {
  /* Breakpoint for MacBook Airs */
  .page-title {
    margin-top: 56px;
    margin-bottom: 0;
  }
}

@media (max-width: 1200px) {
  .page-title .main-title {
    font-size: 64px;
  }
   .page-title .subtitle {
    font-size: 22px;  
  }  
  .page-title .lead {
    font-size: 22px;
  } 
}

@media (max-width: 992px) {

  .page-title {
    margin: 70px 0 42px 0;
  }
  .page-title .main-title {
    font-size: 48px;
  }
  .page-title .subtitle {
    font-size: 20px;  
  }
  
  .page-title .lead {
    font-size: 20px;
  }    
}

@media (max-width: 768px) {
  .page-title {
    margin: 56px 0 28px 0;
  }  
  .page-title .main-title {
    font-size: 36px;
  }
  .page-title .subtitle {
    font-size: 18px;  
  }
  .page-title .lead {
    font-size: 18px;
  }  
}


/* ==========================================================================
   Section hgroup, Section title + lead, centered
   ========================================================================== */

.section-title {
  margin: 112px 0 56px 0;
  padding: 0;
}

.section-title-illustration {
  margin-top: 112px;
  width: 100%;
}

.section-title .main-title {
  font-size: 48px;
  margin: 0;  
}

.section-title .loud-title {
  /* extends .main-title */
  font-size: 144px;
}

.section-title .subtitle {
  font-size: 18px; 
}

.section-title .lead {
  font-size: 18px;
  margin: 28px 0px;
}

@media (max-width: 1200px) {
 .section-title {
    margin: 70px 0 42px 0;
  }
  .section-title-illustration {
    margin-top: 70px;
  }
  .section-title .main-title {
    font-size: 40px;
  }
   .section-title .subtitle {
    font-size: 18px;  
  }  
  .section-title .lead {
    font-size: 18px;
  } 
}

@media (max-width: 992px) {

  .section-title {
    margin: 56px 0 28px 0;
  }
  .section-title-illustration {
    margin-top: 56px;
  }
  .section-title .main-title {
    font-size: 36px;
  }
  .section-title .subtitle {
    font-size: 16px;  
  }
  
  .section-title .lead {
    font-size: 18px;
  }    
}

@media (max-width: 768px) {
  
  .section-title {
    margin: 56px 0 28px 0;
  }  
  
  .section-title .main-title {
    font-size: 32px;
  }

  .main-title .byline {
    font-size: 32px;
  }

  .section-title .loud-title {
    /* extends .main-title */
    font-size: 32px;
  }

  .section-title .subtitle {
    font-size: 18px;  
  }
  
  .section-title .lead {
    font-size: 18px;
  } 
  
  .section-title.text-right {
    text-align: left !important;
  } 
}


/* ==========================================================================
   Col hgroup, longform + lead, centered
   ========================================================================== */

.longform {
  margin: 28px 0 14px 0;
  padding: 0;
}

.longform .main-title {
  font-size: 24px; 
  font-weight: 700;   
}

.longform .subtitle {
  font-size: 18px;
  margin-top: 18px;
  font-weight: 700;
}   

.longform p,
.longform ul,
.longform ol,
.longform dl,
.longform table,
.longform h1,
.longform h2,
.longform h3,
.longform h4,
.longform h5,
.longform h6 {
  margin-top: 1.5555556em;
  margin-bottom: 0;
}

.longform .lead {
  font-size: 1.25em;
  line-height: 1.75;
  margin:0 0 7px 0;  
}

@media (max-width: 768px) {
  .longform {
    font-size: 16px;
  }
}
   
   
/* ==========================================================================
   .screenshot
   ========================================================================== */   
.screenshot {
  position: relative;
}
@media (min-width: 992px) {
  .screenshot {
    min-height: 607px;
  }
}
@media (max-width: 992px) { 
  .screenshot {
    min-height: 0;
  }
}

.screenshot-small {  
  max-width: 560px;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
}   

.screenshot-small img {
  width: 100%;
  height: auto;
}

.screenshot-large {
  margin: 0;
  width: 100%;
  max-width: 755px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;  
}

@media (min-width: 992px) {
  .screenshot-large {  
    width: 755px;
  }
}

.screenshot-multi-window {
  margin: 0 auto;
  max-width: 964px;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .screenshot-multi-window {  
    width: 964px;
  }
}

.screenshot-multi-window img {
  width: 100%;
  height: auto;
}

.screenshot-partial {
  background-image: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 906px;
  height: auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 2px solid #ceceb6;
  border-radius: 7px;
}
.screenshot-partial img {
  width: 100%;
  height: auto;
}


@media (min-width: 992px) {
  .screenshot-partial {  
    width: 906px;
  }
}
.screenshot img {
  width: 100%;
  height: auto;
  display: block;
}

.screenshot-left {
  position: absolute;
  top:0;  
  right: 0;
}
.screenshot-right {
  position: absolute;
  top:0;  
  left: 0;
}

@media (max-width: 992px) { 
  .screenshot-left {
    position: static !important;
  }
  .screenshot-right {
    position: static !important;
  }
}

/* ==========================================================================
   .free-trial
   ========================================================================== */

.free-trial {
  background: #fff;
  border-top: 2px solid #ceceb6;
  border-left: 2px solid #ceceb6;
  border-right: 2px solid #ceceb6;
  padding: 14px 28px 56px 28px;
  border-radius: 3px 3px 0 0;
}

.free-trial-pricing .hr {
  display: block;
  width: auto;
  margin: 28px -56px 56px -56px;
}

@media (min-width: 992px) {

  .free-trial-pricing {
    padding-left: 56px;
    padding-right: 56px;
  }

}

@media (max-width: 992px) { 
  
  .free-trial {
    padding: 0 28px 28px 28px;   
  }

  .free-trial-pricing {
    margin-top: 0 !important;
    padding: 28px;
  }

  .free-trial-pricing .longform {
    margin-top: 28px;
  }

}

@media (max-width: 768px) {
  
  .free-trial {
    /*border-radius: 0;
    border: none;*/
  }

  .free-trial .free-trial-terms {
    margin-top: 12px;
  }

  .free-trial-pricing {
    margin-right: 14px;
    margin-left: 14px;
  }

  .free-trial-pricing .longform {
    font-size: 14px;
    margin-top: 0 !important;
  }

  .free-trial-pricing .media-body {
    width: 100%;
    padding-top: 28px;
  }

}

.free-trial-video {
  position: relative;
  margin: 56px 0 0 0; 
  padding: 0;
}   

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left:-86px;
  margin-top: -86px;
  text-indent: -9999px;
  border-radius: 172px;
  background-color: #343434;
  background-image: url("../img/design/play.png");
  background-position: 60px center;
  background-repeat: no-repeat;
  opacity: .7; 
  height: 172px;
  width: 172px;
  overflow: hidden;
}   
.play:hover {
  opacity: 1;
}
.watch-the-video:after {
  content: "";
  display: block;
  position: absolute; 
  width: 156px;
  height: 93px;
  top: 14px;
  right: -170px;
  background-image: url("../img/design/watch-the-video.png");
  background-position: center center;
  background-repeat: no-repeat; 
}

.free-trial-signup {
  margin-top: 224px;
}

@media (max-width: 992px) { 
   .free-trial,
   .free-trial-signup,
   .free-trial-video{
    margin-top: 0;
  }
  .free-trial-video{
    /*border-bottom: 2px solid #ceceb6;*/
  }
  .free-trial-signup {
    margin-bottom: 56px;
  }
  .watch-the-video:after {
    display: none;
  }  
}


/* ==========================================================================f
   forms and form elements - bootstrap customization
   ========================================================================== */ 
.free-trial-subscribe {
  margin: 28px 0 0 0;
}

/*.form-control {
  border-radius: 0;
  border-color:#ceceb6;
  height: 55px;
  line-height: 55px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;   
  padding: 28px; 
  font-size: 18px;
}*/

.form-control {
  border-radius: 3px;
}

.input-lg {
  height: 58px;
}

.horizontal-form .form-control:first-child {
  border-radius: 3px 3px 0 0;
}

.horizontal-form .form-control + .form-control {
  border-top:none;
  border-radius: 0 0 3px 3px;
  /*height: 54px;
  line-height: 54px;  */
}

.horizontal-form .form-control:nth-child(2),.horizontal-form  .form-control:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.form-control:-moz-placeholder {
  color: #cacaab;
}

.form-control::-moz-placeholder {
  color: #cacaab;
}

.form-control:-ms-input-placeholder {
  color: #cacaab;
}

.form-control::-webkit-input-placeholder {
  color: #cacaab;
}

.form-control:focus {
  border-color: rgb(251, 182, 0);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 182, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 182, 0, 0.6);            
}

.form-inline {
  overflow: hidden;
  min-height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

}
.form-inline .form-control {
  width: 25%;
  float: left;
  height: 64px;
  font-size: 18px;
  border-right: none;
  border-radius: 0;
}

.form-inline .form-control:first-child {
  border-radius: 0;
  border-radius: 3px 0 0 3px;
}
.form-inline .btn {
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 7px 14px;
  height: 64px;
  font-size: 21px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
}

.help-block {
  margin-top: 7px;
  margin-bottom: 7px;
  color: #a3a387;
  font-size: 14px;
}

.secondary-cta {
  margin: 56px 0 0 0;
  padding: 28px 28px 18px 28px;
  border: 2px solid #ceceb6;
  border-radius: 3px;
}
  
  .secondary-cta-action {
    font-weight: bold;
  }

@media (max-width: 992px) {
  .secondary-cta {
    font-size: 14px;
  }
}

 @media (max-width: 992px) {
 .form-control {
    font-size: 14px;
  }   
  .form-inline {
    min-height: 190px;
  }  
  .form-inline .form-control {
    width: 100% !important;
    border-right: 1px solid #ceceb6 !important;
  }

  .form-inline .form-control:first-child,
  .form-inline .form-control.first-child {
    height: 54px;
    line-height: 54px;
  }
  
  .form-control + .form-control {
    border-top:none;
    height: 54px;
    line-height: 54px;  
  }
  .form-inline .btn {
    width: auto !important;
    margin-top: 14px;
    border-radius: 3px;
    height: auto;
  }  
  
  .form-inline .form-control:first-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
  }
  
  .form-inline .form-control:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

  }
  
  .free-trial .help-block {
    font-size: 12px;
    text-align: left !important;
  }  
  .help-block {
    font-size: 12px;
  }
}


/* ==========================================================================
   .btn - bootstrap customization
   ========================================================================== */ 


.btn {
  border: none;
  padding: 12px 18px;
  border-radius: 3px;
  font-size: 16px;
}    

.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.btn:active {
  box-shadow: none;
  position: relative; top: 2px;
  outline: none;
}

.btn-holder {
  margin: 28px 0; 
}

.btn-sm {
  padding: 4px 7px;
  font-size: 12px;
}

.btn-lg {
  padding: 14px 36px;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 992px) {
  .btn-lg{
    padding: 7px 14px;
    font-size: 18px;
    max-width: 300px;
  }
} 

.btn-default {
  background: #CECEB6;
  background-image: -o-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -moz-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.1) 100%);
  background-image: -ms-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.1) 100%);
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.1) 100%);  
  -moz-box-shadow:    0px 2px 0px 0px #808067;
  -webkit-box-shadow: 0px 2px 0px 0px #808067;
  box-shadow:         0px 2px 0px 0px #808067;
  color: #4a4a4a;
}

.btn-default:focus,
.btn-default:hover {
  color: #4a4a4a;
  background: #d7d7b7;
}

.btn-std {
  color: #efefef;
  background: #428bca; /* Old browsers */
  background: -moz-linear-gradient(top,  #428bca 0%, #29669b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#428bca), color-stop(100%,#29669b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #428bca 0%,#29669b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #428bca 0%,#29669b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #428bca 0%,#29669b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #428bca 0%,#29669b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#428bca', endColorstr='#29669b',GradientType=0 ); /* IE6-9 */
}

.btn-std:focus,
.btn-std:hover {
  color: #fff;
  background: #348cd8; /* Old browsers */
  background: -moz-linear-gradient(top,  #348cd8 0%, #236aa7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#348cd8), color-stop(100%,#236aa7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #348cd8 0%,#236aa7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #348cd8 0%,#236aa7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #348cd8 0%,#236aa7 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #348cd8 0%,#236aa7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#348cd8', endColorstr='#236aa7',GradientType=0 ); /* IE6-9 */
}

.btn-std:active {
  position: static;
  background: #20639c;
  box-shadow: 0 0 7px rgba(0,0,0,.25) inset;
}

.btn-primary {
  background: #789C2D;
  background-image: -o-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.36) 100%);
  background-image: -moz-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.36) 100%);
  background-image: -ms-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.36) 100%);
  background-image: linear-gradient(-179deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.36) 100%);
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #80AD22;
  background-image: -o-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.36) 100%);
  background-image: -moz-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.36) 100%);
  background-image: -ms-linear-gradient(-89deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.36) 100%);
  background-image: linear-gradient(-179deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.36) 100%);
}

.btn-primary:active,
.btn-primary.active {
  position: static;
  background: #698E1C;
  box-shadow: 0 0 7px rgba(0,0,0,.25) inset;
}

.btn-secondary {
  background: #7FA309;
  background-image: -o-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.50) 100%);
  background-image: -moz-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.50) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.50) 100%);
  background-image: -ms-linear-gradient(-90deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.50) 100%);
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.50) 100%);
  -moz-box-shadow:    0px 2px 0px 0px #384903;
  -webkit-box-shadow: 0px 2px 0px 0px #384903;
  box-shadow:         0px 2px 0px 0px #384903;
  color: #fff; 
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #97c209;
}

.btn-secondary:active,
.btn-secondary.active {
  background-color: #7FA309;
}

.btn-light {
  color: #4a4a4a;
  background: #fff;
}

.btn-light:focus,
.btn-light:hover {
  color: #4a4a4a;
  background: #f9f9f9;
}

.btn-light:active {
  position: static;
  background: #dfdfdf;
  box-shadow: 0 0 7px rgba(0,0,0,.25) inset;
}

  
/* ==========================================================================
   .section-standalone
   ========================================================================== */ 

.section-standalone {
  margin-top: 84px !important;
}  

.section-icon {
  margin-bottom: 28px;
}

@media (max-width: 992px) {
  .section-standalone{
    margin-top: 56px !important;
  }  
}
 
 
/* ==========================================================================
   .testimonial-module
   ========================================================================== */
   
.testimonial-module {
  background-image: url("../img/user-testimonial-avatars/eric-marthinsen.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left bottom;
  min-height: 500px;
  padding: 56px 0;
  margin-top: 56px;
}

.testimonial-module.rich-thornett {
  background-image: url("../img/user-testimonial-avatars/rich-thornett.jpg");
}

.testimonial-illustration {
  margin: 0; 
  height: 0;
  padding-bottom: 100%;
}

.testimonial-illustration img {
  width: 100%;
  height: auto;  
  position: absolute;
  bottom: 0;
  max-width: 500px;
}

.img-bordered {
  border: 2px solid #ceceb6;
}
   
.testimonial {
  padding: 28px;
  background: #fff;
  margin-top: 28px;
  border-radius: 4px;
  overflow: hidden;
}

.twitter-tweet {
  width: 100%;
  margin: 0;
}
.avatar img{
 margin: 0 28px 0 0;
}

.testmonial-quote {
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 28px;
  margin-bottom: 28px;
  min-height: 90px;
  
}

.quoted-user{
 font-weight: bold;   
}
.quoted-user small {
  color: #4a4a4a;
  font-weight: normal;
}

@media (max-width: 992px) {
 .testimonial-module{
    background-size: 60%;
    margin: 0;    
    min-height: 0;
  }
  .testimonial-illustration {
    min-height: 441px;
  } 
  .from-twitter {
    margin-bottom: 28px !important;
  }   
}

@media (max-width: 768px) {
 .testimonial-module, .testimonial-module.rich-thornett{
    margin: 0 !important;
  }
}

@media (max-width: 767px) {
 .testimonial-module, .testimonial-module.rich-thornett{
    background-image: none;
    min-height: 0;
    margin: 0 !important;
  }
  .testimonial-illustration, .testimonial-module.rich-thornett {
    min-height: 0;
  }  
  .testimonial-illustration img, .testimonial-module.rich-thornett img {
    position: static;
  }   
}

 
/* ==========================================================================
   blockquote
   ========================================================================== */
   
blockquote {
 margin: 0;
 padding: 0;
 border-left: none;
}

blockquote p {
  font-size: 21px;
  line-height: 1.5em;
}

blockquote footer {
  margin: 14px 0 0 0;
}

blockquote small {
  color: #a3a387;
  font-size: 14px;
}

blockquote small:before {
  content: '';
}

@media (max-width: 992px) {
 blockquote{
   line-height: 28px !important;   
 }  
} 
 
 
/* ==========================================================================
   .hr
   ========================================================================== */

.hr {
  height: 2px; 
  background: #ceceb6; 
  width: 100%;
  margin: 112px 0;
  position: relative;
}

.hr  .wrapper {
  top: -12px;
}

.hr-title {  
  font-size: 16px;
  font-weight: normal;
  background: #f2f2e9;
  padding: 7px 14px;
  color: #4a4a4a;
  text-align: center;
}  

@media (max-width: 992px) {
  .hr {
    margin: 56px 0;
  }
} 
 
 
/* ==========================================================================
   .semaphore-customers
   ========================================================================== */

.semaphore-customers {
  overflow: hidden;
  margin: 56px 0;
  padding: 0;
  text-align: center;
}

.semaphore-customers li {
  display: inline;
  margin: 0;
}

.semaphore-customers img {}

/* ==========================================================================
   .supported-languages
   ========================================================================== */

.bg-dark-075 {
  background-color: rgba(0,0,0,.075);
}

.supported-languages {
  margin: 56px 0;
  padding: 0;
  text-align: center;
}

.supported-languages li {
  display: inline-block;
  height: 100px;
  margin: 0 10px;
}
  
  .supported-languages a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
  }

  .lang-clojure { background-image: url(../img/technology-logos/clojure.png); }
  .lang-clojure:hover,
  .lang-clojure:focus { background-image: url(../img/technology-logos/clojure-hover.png); }

  .lang-elixir { background-image: url(../img/technology-logos/elixir.png); }
  .lang-elixir:hover,
  .lang-elixir:focus { background-image: url(../img/technology-logos/elixir-hover.png); }

  .lang-erlang { background-image: url(../img/technology-logos/erlang.png); }
  .lang-erlang:hover,
  .lang-erlang:focus { background-image: url(../img/technology-logos/erlang-hover.png); }

  .lang-go { background-image: url(../img/technology-logos/go.png); }
  .lang-go:hover,
  .lang-go:focus { background-image: url(../img/technology-logos/go-hover.png); }

  .lang-java { background-image: url(../img/technology-logos/java.png); }
  .lang-java:hover,
  .lang-java:focus { background-image: url(../img/technology-logos/java-hover.png); }

  .supported-languages .lang-nodejs { width: 126px; background-image: url(../img/technology-logos/nodejs.png); }
  .lang-nodejs:hover,
  .lang-nodejs:focus { background-image: url(../img/technology-logos/nodejs-hover.png); }

  .lang-perl { background-image: url(../img/technology-logos/perl.png); }
  .lang-perl:hover,
  .lang-perl:focus { background-image: url(../img/technology-logos/perl-hover.png); }

  .supported-languages .lang-php { width: 60px; background-image: url(../img/technology-logos/php.png); }
  .lang-php:hover,
  .lang-php:focus { background-image: url(../img/technology-logos/php-hover.png); }

  .lang-python { background-image: url(../img/technology-logos/python.png); }
  .lang-python:hover,
  .lang-python:focus { background-image: url(../img/technology-logos/python-hover.png); }

  .lang-ruby { background-image: url(../img/technology-logos/ruby.png); }
  .lang-ruby:hover,
  .lang-ruby:focus { background-image: url(../img/technology-logos/ruby-hover.png); }

  .lang-scala { background-image: url(../img/technology-logos/scala.png); }
  .lang-scala:hover,
  .lang-scala:focus { background-image: url(../img/technology-logos/scala-hover.png); }

/* ==========================================================================
   features
   ========================================================================== */
   
.feature-description {
  margin-top: 28px;
}

.feature-text {
  font-size: 18px;
  line-height: 2;
}
  
.feature-text p {
  margin-top: 1em;
}

.feature-timeline .offset-top {
  padding-top: 180px;
}

.feature-timeline .screenshot img {
  width: auto;
}

@media (max-width: 768px) {

  .feature-text {
    font-size: 16px;
    line-height: 1.5;
  }

}

/* ==========================================================================
   learnmore
   ========================================================================== */
   
.wrapper {
  position: absolute;
  top: -65px;
  text-align: center;
  width: 100%;
}

.learn-more {
  margin: 0;
  position: relative;
  z-index: 9999;
}


@media (max-width: 992px) {
  .learn-more .wrapper{      
    top: -52px;
  }
} 


/* ==========================================================================
   .blog-latest
   ========================================================================== */
   
  .blog-latest {
    margin: 112px 0 0 0;
  }
  
  .excerpt-title {
   margin: 0;
   font-weight: bold;
   font-size: 24px; 
   margin: 0 0 14px 0; 
  }
  
  .excerpt {
    font-size: 16px; 
    margin: 28px 0 0 0; 
  }
  
 .date {
    font-size: 13px;
    color: #a3a387;
    margin: 5px 0 0 0;
    display: block;
    text-align: right;
    white-space: nowrap;
 }  
 
 .intro-title {
   color: #a3a387;
   font-size: 14px; 
   font-weight: 700;
   text-transform: uppercase;
   margin: 0;  
 }

 @media (max-width: 768px) {
  .date {
    text-align: left;
    margin-bottom: 14px;
  }
  .blog-latest{
    margin: 56px 0;
  }  
  
 }
 
/* ==========================================================================
   .from-twitter
   ========================================================================== */

.from-twitter {
  margin-bottom: 84px;
}

.twitter-tweet {
  width: 100% !important;
  display: block;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 3px !important;
  background-color: #fff;
  margin: 0 0 28px 0 !important
}


/* ==========================================================================
   .feature-video
   ========================================================================== */
   
.feature-video {
  background-image: url("../img/design/feature-video-background.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width:100%;
  height: auto;
  margin: 0 0 0 0;
  position: relative;
	padding-bottom: 69%;
  margin: 0 auto;
	
}

.feature-video iframe {
  position: absolute;
  width: 91%;
  height: 74.5%;
  top: 5.9%;
  left: 4.7%;
  right: 4.7%;
  bottom: 8%;
}

.next-prev {
  width: 100%;
  /*margin: 56px 0 0 0;*/
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.next-prev a {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 992px) { 
  .next-prev {
    bottom: 0;
    margin-top: 56px;
  }
}


/* ==========================================================================
   .feature-screenshot
   ========================================================================== */
   
.feature-screenshot {
  position: relative;
  z-index: 1;
}
   
.callout-left-side, .callout-right-side {
  position: absolute;
  z-index: 9999;
}

.callout-box {
  position: absolute;
  top: -14px;
} 
.call-out-text {
  background-color: #fff;
  padding: 28px 28px 21px 28px;
  width: 245px;
  height: auto;  
  border: 1px solid rgba(0,0,0,.25);
  border-radius: 3px;
  -moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
  box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.25);    
  position: relative;
}

/*.callout-left-side:after {
  content: "";
  position: absolute;
  right: 9px;
  top: -2px;  
  width: 0;
  height: 0;
  border-left: 11px solid #fff;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.callout-right-side:after {
  content: "";
  position: absolute;
  left: 28px;
  top: -2px;
  width: 0;
  height: 0;
  border-right: 11px solid #fff;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;   
}*/

.callout-left-side .callout-box {
  left: -263px;
}

.callout-right-side .callout-box {
  right: -278px;
}

.callout-marker {
  margin-top: 0;
  margin-left: 0;
  position: relative;
}

.pulse {
	width: 7px;
	height: 7px;
	border: 7px solid #7B1005;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: #7B1005;
	z-index: 10;
	position: absolute;
}

.dot {
	border: 10px solid #7B1005;
	background: transparent;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	height: 30px;
	width: 30px;
	-webkit-animation: pulse 1s linear;
	-moz-animation: pulse 1s linear;
	animation: pulse 1s linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	position: absolute;
	top: -8px;
	left: -8px;
	z-index: 1;
	opacity: 0;
}

@-moz-keyframes pulse {
 0% {
   	-moz-transform: scale(0);
   	opacity: 0.0;
 }
 25% {
   	-moz-transform: scale(0);
   	opacity: 0.1;
 }
 50% {
   	-moz-transform: scale(0.1);
   	opacity: 0.3;
 }
 75% {
   	-moz-transform: scale(0.5);
   	opacity: 0.5;
 }
 100% {
   	-moz-transform: scale(1);
   	opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0);
   	opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(0);
   	opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(0.1);
   	opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(0.5);
   	opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(1);
   	opacity: 0.0;
 }
}

@media (max-width: 992px) { 

  .call-out-text {
    padding: 14px;
    width: 170px;    
  }
  
  .callout-left-side .callout-box {
    left: -183px;
  }
  
  .callout-right-side .callout-box {
    right: -198px;
  }    
  
  .callout-left-side:after {
    right: 3px;
    top: -2px;   
  }
  
  .callout-right-side:after {
    top: -2px;
    left: 18px;
  }  

}

@media (max-width: 768px) { 

  .callout-left-side{
    position: relative;
    left: 0 !important;
    top: 0 !important; 
    margin: 14px 0;   
  }
  .callout-right-side{
    position: relative;
    right: 0 !important;
    top: 0 !important; 
    margin: 14px 0;   
  }  
  .callout-box{
    position: relative;
    left: 0 !important;
    top: 0 !important;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .call-out-text{
    padding: 14px;
    width: 100%;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;     
  }
  .call-out-text p{
    margin: 0;
    padding: 0;
    font-size: 14px;
  }   
  
   
  .callout-left-side:after {
    display: none;   
  }
  
  .callout-right-side:after {
    display: none;
  }  
  
  .callout-marker{
    display: none;
  }
   
}

/*  =========================================================================
    .media-heading and .quiet(introduced in integration page)
    ========================================================================= */
  .media-heading a {
    color: inherit;
  }

  .media-heading a:hover {
    color: #428bca;
    text-decoration: none;
  }

  .quiet {
  font-size: .85em;
}

/* ==========================================================================
   .pricing
   ========================================================================== */

.range-toggle {}

/* Banners */

.banner {
  overflow: hidden;
  margin: 0 0 56px 0;
  padding: 28px;
  border-radius: 3px;
  border: 2px solid #ceceb6;
  background-color: #fff;
  position: relative;
}

/* Variants */

.banner-transparent {
  background: transparent;
}

.banner-feature {
  font-size: 14px;
  padding-top: 56px;
  padding-bottom: 56px;
}

/* Elements */

.banner-icon {
  margin-top: 14px;
  margin-left: 28px;
}

.banner-teaser {
  margin-top: 14px;
  color: #a3a387;
  font-size: 14px;
  text-transform: uppercase;
}

.banner-title {
  font-size: 24px;
  margin-top: 0;
  font-weight: 700;
}

.banner .main-title {
  margin-top: 0;
}

.banner-feature .banner-content {
  width: auto;
}

.banner-action {
  margin-top: 24px;
}

@media (max-width: 768px) {
  .banner {
    /*margin-left: 14px;
    margin-right: 14px;*/
    padding-right: 14px;
    padding-left: 14px;
  }

  .row > .banner {
    margin-left: 0;
    margin-right: 0;
    margin-top: 56px;
  }

  /* Neutralize height matching */

  .js-equalize-banner-height .banner {
    height: auto !important;
  }

}

/* Banners containing 3 columns */

.banner-thirds {
  padding-left: 0;
  padding-right: 0;
}

.banner-thirds:before,
.banner-thirds:after {
  content: "";
  width: 2px;
  background-color: #ceceb6;
  position: absolute;
  top: 0;
  bottom: 0;
}

.banner-thirds:before {
  left: 33.333333%;
}

.banner-thirds:after {
  right: 33.333333%;
}

.banner-third {
  float: left;
  width: 33.333333%;
  padding: 0 56px 14px 56px;
}

@media (max-width: 992px) {
  
  /* Below 992px we destroy the columns in thirds banners */

  .banner-thirds {
    padding: 35px 56px;
  }

  .banner-thirds:before,
  .banner-thirds:after {
    display: none;
  }

  .banner-third {
    float: none;
    width: auto;
    padding: 0;
  }

}

@media (min-width: 992px) {

  .banner-action {
    float: right;
    margin-left: 28px;
    margin-top: 0;
  }

  .banner-action a {
    display: block;
    font-size: 18px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .banner-content {
    width: 50%;
    float: left;
  }

  .banner-content p {
    margin: 0;
  }

  .banner-content p + p {
    margin-top: 1em;
  }

}

.pricing-plans {
  margin: 0 0 56px 0;
  overflow: hidden;
}

@media (max-width: 768px) {

  .pricing-table-plans {
    /* Enable horizontal scrolling on tables */
    overflow-x: auto;
    border-right: 2px solid #ceceb6;
    border-left: 2px solid #ceceb6;
  }

  .pricing-table-plans-wrap {
    position: relative;
  }

  .pricing-table-plans-shadow {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    width: 10px;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 */
  }

  .pricing-plans tr > td:last-child {
    border-right: none;
  }

  .pricing-plans tr > td:first-child {
    border-left: none;
  }

}

.pricing-table + .pricing-table {
  margin-top: 56px;
}

.pricing-info {
  margin-top: 28px;
  margin-bottom: 0;
}

.pricing-table-personal .pricing-table-plans .plan-name {
  color: #7FA309;
}

.pricing-table-personal .plan-price-alt {
  background-color: #7FA309;
}

.pricing-table-personal .pricing-table-plans .plan-comparation td {
  background-color: #F2F6E1;
  color: #7FA309;
}

.pricing-table-organization .pricing-table-plans .plan-name {
  color: #237fc6;
}

.pricing-table-organization .plan-price-alt {
  background-color: #237fc6;
}

.pricing-table-organization .pricing-table-plans .plan-comparation td {
  background-color: #e6f6f9;
  color: #237fc6;
}

.pricing-table-organization .plan-features li {
  background-image: url(../img/design/tick-blue.png);
}

.pricing-table-header:after {
  content: "";
  display: table;
  clear: both;
}

.pricing-table .main-title {
  margin: 0;
  font-size: 24px;
  letter-spacing: normal;
}

.pricing-table .help-block {
  margin: 0;
}

@media (min-width: 992px) {
  
  .pricing-table .main-title {
    float: left;
    width: 50%;
  }

  .pricing-table .help-block {
    float: right;
    margin-top: .4em;
    text-align: right;
  }

}

.pricing-table-plans {
  margin-top: 21px;
}

/* Control toggling of price range */

.plan-header td {
  position: relative;
}

.plan-price-alt, .plan-saving-alt {
  display: none;
}

.yearly-plans .plan-price-alt {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5;
  position: absolute; top: 14px; right: 14px;
  margin-left: -.5em;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.yearly-plans .plan-price {
  color: #ccc;
  text-decoration: line-through;
}

.pricing-table-plans table {
  width: 100%;
  border-collapse: collapse;
}

.pricing-table-plans td {
  padding: 28px;
  background-color: #fff;
  border: 2px solid #ceceb6;
  min-width: 240px;
}

.plan-header {
  line-height: 1;
}

.plan-header td {
  border-bottom: none;
}

.plan-price,
.plan-price-free {
  float: right;
  font-size: 64px;
  font-weight: 800;
}

@media (max-width: 768px) {

  .plan-price {
    font-size: 36px;
  }

}

.plan-name {
  float: left;
  font-size: 24px;
  font-weight: 800;
  margin-top: 7px;
}

.plan-range {
  float: left;
  clear: left;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  margin-top: 14px;
}

.plan-comparation td {
  text-align: center;
  font-size: 14px;
  line-height: 1;
  border-top: 0;
  border-bottom: 0;
}

.plan-features td {
  border-top: none;
}

.plan-features ul {
  margin: 0;
  padding: 0;
}

.plan-features li {
  list-style: none;
  margin: 0;
  padding: .5em 0 .5em 34px;
  background: url(../img/design/tick-green.png) 0 .75em no-repeat;
}

.pricing-features {
  background-color: #7FA309;
}

.plan-features-list {
  color: #fff;
}

.plan-features-list li {
  padding-left: 42px;
  background-image: url("../img/design/checked-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 18px;
  margin: 28px 0;
}

.plan-extra dl {
  margin: 0;
  font-size: 14px;
  line-height: 1.15;
}

.plan-extra dd {
  margin-top: .5em;
}

.trial-explanation {
  margin: 56px 0 0 0;
  line-height: 2;
}

@media (min-width: 992px) {

  .trial-explanation {
    padding-left: 80px;
    background: url(../img/design/badge-star.png) 0 0 no-repeat;
  }

}

.trial-explanation .main-title {
  font-size: 16px;
  margin: 0;
}

.trial-explanation p {
  margin-top: .5em;
  margin-bottom: 0;
  font-size: 14px;
}

@media (max-width: 768px) {

  .icon-grid .row .media:last-child {
    margin-top: 56px;
  }

  .icon-grid .offset-top-56,
  .icon-grid .offset-top-112 {
    margin-top: 0;
  }

}

.icon-grid .media-object {
  margin-right: 28px;
}

.valign {
  /* Extends: .media */
  display: table;
}

.valign .media-body {
  display: table-cell;
  vertical-align: middle;
}

.short-article-list {
  /* Extends: dl */
}

.short-article-list dt {
  font-size: 24px;
}

.short-article-list dd {
  margin-bottom: 1em;
}

@media (max-width: 768px) {

  .short-article-list {
    font-size: 14px;
  }

  .short-article-list dt {
    font-size: 16px;
  }

}

/* ==========================================================================
   Org landers
   ========================================================================== */

.card {
  margin-top: 56px;
  text-align: center;
  padding-bottom: 56px;
  border-bottom: 2px solid #ceceb6;
}

  .card-image {}

    .card-image img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
    }

  .card-text {
    margin-top: 14px;
    font-size: .85em;
  }

/* ==========================================================================
   offsets
   ========================================================================== */
   
.offset-top-n112 {
  margin-top: -112px;
}
.offset-top-n56 {
  margin-top: -56px;
}
.offset-top-n35 {
  margin-top: -35px;
}
.offset-top-n28 {
  margin-top: -28px;
}
.offset-top-0 {
  margin-top: 0 !important;
}
.offset-top-10 {
  margin-top: 10%;  
}
.offset-top-20 {
  margin-top: 20%;  
}
.offset-top-28 {
  margin-top: 28px;  
}
.offset-top-30 {
  margin-top: 30%;  
}
.offset-top-40 {
  margin-top: 40%;  
}
.offset-top-50 {
  margin-top: 50%;  
}
.offset-top-56 {
  margin-top: 56px;  
}
.offset-top-60 {
  margin-top: 60%;  
}
.offset-top-70 {
  margin-top: 70%;  
}
.offset-top-112 {
  margin-top: 112px;
}

.offset-top-28 {
  margin-top: 28px;
}

.offset-bottom-28 {
  margin-bottom: 28px;
}

.offset-bottom-56 {
  margin-bottom: 56px;
}

.offset-bottom-112 {
  margin-bottom: 112px;
}

@media (max-width: 992px) {
  .offset-top-20{
    margin-top: 0;
  }
  .offset-top-40 {
    margin-top: 28px;
  }
  .feature-timeline .offset-top-40 {
    margin-top: 72px;
  }
}

@media (max-width: 768px) {
  .offset-top-n112 {
    margin-top: 0;
  }
}

/* ==========================================================================
   Pads
   ========================================================================== */

@media (min-width: 769px) {
  
  .pad-right-20 {
    padding-right: 20px;
  }

  .pad-right-40 {
    padding-right: 40px;
  }

  .pad-left-40 {
    padding-left: 40px;
  }

}

/* ==========================================================================
   Spacing of inline elements
   ========================================================================== */

/* Double space */

.dsa {
  margin-right: .5em;
}

.dsb {
  margin-left: .5em;
}

/* Full spacing */

.fsa {
  margin-right: 28px;
}

.fsb {
  margin-left: 28px;
}

/* ==========================================================================
   Hiding inline elements
   ========================================================================== */

@media (max-width: 768px) {

  .hidden-inline-sm {
    display: none !important;
  }

}
