body {
  background-color: #f2f2e9;
}

.docs .navbar-brand {
  color: #4a4a4a;
  font-weight: bold;
  font-size: 30px;
}
.docs .navbar-brand span {
  line-height: 41px;
  vertical-align: bottom;
  display: inline-block;
  margin-left: 10px;
  letter-spacing: -1px;
}

.navbar-nav > li {
  margin-left: 14px;
  margin-right: 0;
}

.docs .navbar-nav > li > a:link,
.docs .navbar-nav > li > a:visited {
  color: #999999;
  font-size: 14px;
}

.docs .navbar-nav > li > a:hover,
.docs .navbar-nav > li > a:focus {
  color: #8a0808;
  font-size: 14px;
}

@media (max-width: 767px){
  .docs .navbar-brand {
    margin: 0px auto;
    font-size: 24px;
  }
  .docs .navbar-brand img{
    margin-bottom: 10px;
  }
  .docs .navbar-brand span {
    margin-left: 0;
  }
}

.docs .search {
  clear: both;
  margin-top: 0;
  margin-bottom: 2em;
  width: 230px;
  float: right;
}
.docs input[type="search"]{
  background-image: url("../img/design/search.png");
  background-repeat: no-repeat;
  background-position: 98% center;
  padding-right: 30px;
}
@media (max-width: 767px){
  .docs .search {
    float: none;
    margin: 14px auto;
  }
}

.docs .panel{
  padding: 56px;
  /*margin-top: 56px;*/
  border: 1px solid #ceceb5;
}
.docs .panel img {
  border: 1px solid #dadad6;
  border-radius: 2px;
  padding: 1px;
}
@media (max-width: 767px){
  .docs .panel{
    padding: 28px;
    margin-top: 56px;
  }
}

/* Adjust margins */

.docs p,
.docs ol,
.docs ul,
.table {
  margin-bottom: 1.5em;
}

.docs ol ol,
.docs ol ul,
.docs ul ul,
.docs ul ol,
.docs .alert > p,
.docs .alert > ul {
  margin-bottom: 0;
}

/* Style named anchors */

.docs .panel h1 a[href*="#"],
.docs .panel h2 a[href*="#"],
.docs .panel h3 a[href*="#"],
.docs .panel h4 a[href*="#"],
.docs .panel h5 a[href*="#"],
.docs .panel h6 a[href*="#"] {
  color: inherit;
}

.docs .panel a[href*="#"]:focus,
.docs .panel a[href*="#"]:hover {
  text-decoration: none !important;
}

.docs .panel h1 a[href*="#"]:hover:after,
.docs .panel h2 a[href*="#"]:hover:after,
.docs .panel h3 a[href*="#"]:hover:after,
.docs .panel h4 a[href*="#"]:hover:after,
.docs .panel h5 a[href*="#"]:hover:after,
.docs .panel h6 a[href*="#"]:hover:after {
  content: " #";
  font-size: .65em;
  font-weight: normal;
  color: #ccc;
}

/* Headings */

.docs h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 1.75em 0;
}

.docs h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 1.75em 0;
}
.docs h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 1.75em 0;
}
.docs .page-header {
  border-bottom: none;
  margin: 0 0 28px 0;
  padding: 0;
}
.docs .page-header h1 {
  font-weight: 800;
  font-size: 30px;
  margin: 0;
}
.docs .page-header > small {
  font-size: 16px;
  font-weight: bold;
  color: #999999;
  margin-bottom: 14px;
  display: block;
}

.docs .edit-link {
  float: right;
}

@media (max-width: 767px) {
  .docs .edit-link {
    float: none;
    display: block;
    margin-bottom: 1em;
  }
}

@media (max-width: 767px){
  .docs h1 {
   font-size: 30px;
  }
  .docs h2 {
    font-size: 24px;
  }
  .docs .page-header h1 {
    font-size: 26px;
  }
}

.docs .alert {
  color: #343434;
  background-color: #ffe977;
  border: 1px solid #d8c359;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 56px;
  margin-bottom: 56px;
}
.docs code {
  font-size: 14px;
  color: #555555;
  background-color: #f2f2e9;
  border: 1px solid #dadad6;
  border-radius: 2px;
  font-family: "Courier New", Courier, monospace;
}
.docs pre {
  margin: 28px -57px;
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  border-radius: 0;
  padding: 14px 56px;
  word-break: normal;
  word-wrap: normal;
  white-space: pre;
  overflow-x: scroll;
}
@media (max-width: 767px){
  .docs pre {
    margin: 28px -28px;
    padding: 14px 28px;
  }
  .docs .alert {
  margin-top: 28px;
  margin-bottom: 28px;
  }
}

.docs ul li > ul{
  list-style: none;
  padding-left: 7px;
}
.docs ul ul li:before {
  content: "-";
  display: inline-block;
  margin-right: 7px;
  font-weight: bold;
}

.highlight .err{
  background-color: transparent !important;
}
