/* Community Header */

/* Reset & Overrides */
.container{padding-left: 10px; padding-right: 10px;}
.navbar-toggle{width: auto;}
.navbar-collapse .navbar-nav > li {margin-left: 0; margin-right: 0;}
.navbar-header .navbar-brand{margin-top: 0;}

.form-control{border-radius: 0;}
.navbar-search{width: 100%; background: transparent;  }
@media (min-width: 768px) {.navbar-search {float: right; margin-top: 14px; width: auto;} }
.navbar-search .form-control{background: #f2f2e9;}
.navbar-search .form-control::-webkit-input-placeholder {color: #8D8D8D;}
.navbar-search .form-control:-moz-placeholder {color: #8D8D8D;}
.navbar-search .form-control::-moz-placeholder {color: #8D8D8D; }
.navbar-search .form-control:-ms-input-placeholder { color: #8D8D8D;}

@media (min-width: 768px) {.main-navigation .navbar-nav.navbar-blue > li {border-right: 2px solid #CECEB8; padding-left: 20px; padding-right: 20px;} }
.main-navigation .navbar-nav.navbar-blue > li a{color: #237fc6; font-weight: normal;}

.docs-new .panel{margin-top: 26px;}
@media (min-width: 767px){.docs-new .panel{margin-top: 56px;}}

.docs-new .navbar .container{max-width: 980px;}

/* Header Start */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  .nav:before, .nav:after {
    content: " ";
    display: table; }
  .nav:after {
    clear: both; }
  .nav > li {
    position: relative;
    display: block; }
    .nav > li > a {
      position: relative;
      display: block;
      padding: 10px 0; }
      .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: white; }
    .nav > li.disabled > a {
      color: #ababab; }
      .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
        color: #ababab;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed; }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: white;
    border-color: #237fc6; }
  .nav .nav-divider {
    height: 1px;
    margin: 10px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .nav > li > a > img {
    max-width: none; }

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent; }
  .navbar:before, .navbar:after {
    content: " ";
    display: table; }
  .navbar:after {
    clear: both; }
  @media (min-width: 768px) {
    .navbar {
      border-radius: 0; } }

.navbar-header:before, .navbar-header:after {
  content: " ";
  display: table; }
.navbar-header:after {
  clear: both; }
@media (min-width: 768px) {
  .navbar-header {
    float: left; } }

.navbar-collapse {
  overflow-x: visible;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch; }
  .navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table; }
  .navbar-collapse:after {
    clear: both; }
  .navbar-collapse.in {
    overflow-y: auto; }
  @media (min-width: 768px) {
    .navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none; }
      .navbar-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important; }
      .navbar-collapse.in {
        overflow-y: visible; }
      .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0; } }

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px; }
  @media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
      max-height: 200px; } }

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -10px;
  margin-left: -10px; }
  @media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid > .navbar-collapse {
      margin-right: 0;
      margin-left: 0; } }

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px; }
  @media (min-width: 768px) {
    .navbar-static-top {
      border-radius: 0; } }

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }
  @media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
      border-radius: 0; } }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }

.navbar-brand {
  float: left;
  padding: 14px 10px;
  font-size: 18px;
  line-height: 22px;
  height: 50px; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }
  .navbar-brand > img {
    display: block; }
  @media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
      margin-left: -10px; } }



.navbar-nav {
  margin: 7px -10px; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px; }
  @media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none; }
      .navbar-nav .open .dropdown-menu > li > a,
      .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px; }
      .navbar-nav .open .dropdown-menu > li > a {
        line-height: 22px; }
        .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
          background-image: none; } }
  @media (min-width: 768px) {
    .navbar-nav {
      float: left;
      margin: 0; }
      .navbar-nav > li {
        float: left; }
        .navbar-nav > li > a {
          padding-top: 14px;
          padding-bottom: 14px; } }



.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.navbar-btn {
  margin-top: 7px;
  margin-bottom: 7px; }
  .navbar-btn.btn-sm, .btn-group-sm > .navbar-btn.btn {
    margin-top: 10px;
    margin-bottom: 10px; }
  .navbar-btn.btn-xs, .navbar-btn.btn-dropdown, .btn-group-xs > .navbar-btn.btn {
    margin-top: 14px;
    margin-bottom: 14px; }

.navbar-text {
  margin-top: 14px;
  margin-bottom: 14px; }
  @media (min-width: 768px) {
    .navbar-text {
      float: left;
      margin-left: 10px;
      margin-right: 10px; } }

@media (min-width: 768px) {
  .navbar-left {
    float: left !important; }

  .navbar-right {
    float: right !important;
    margin-right: -10px; }
    .navbar-right ~ .navbar-right {
      margin-right: 0; } }
.navbar-default {
  background-color: #f2f2e9;
  border-color: #ceceb8; }
  .navbar-default .navbar-brand {
    color: #5C5C5C; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #434343;
      background-color: transparent; }
  .navbar-default .navbar-text {
    color: #5C5C5C; }
  .navbar-default .navbar-nav > li > a {
    color: #5C5C5C; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #8f8f8f;
      background-color: transparent; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #5C5C5C;
    background-color: transparent; }
  .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; }
  .navbar-default .navbar-toggle {
    border-color: #ceceb8; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #ceceb8; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #5C5C5C; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ceceb8; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #5C5C5C; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #5C5C5C; }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #8f8f8f;
        background-color: transparent; }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #5C5C5C;
      background-color: transparent; }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; } }
  .navbar-default .navbar-link {
    color: #5C5C5C; }
    .navbar-default .navbar-link:hover {
      color: #8f8f8f; }
  .navbar-default .btn-link {
    color: #5C5C5C; }
    .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
      color: #8f8f8f; }
    .navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:hover, fieldset[disabled] .navbar-default .btn-link:focus {
      color: #ccc; }



.main-navigation {
  margin-top: 0;
  font-size: 14px;
  border-bottom-width: 2px;
  text-align: center; }
  .main-navigation .navbar-nav {
    padding: 0;
    margin: 0; }
    .main-navigation .navbar-nav li {
      padding: 0;
      text-align: center;
      border-top: 1px solid #ceceb8; }
      .main-navigation .navbar-nav li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        line-height: 30px; }
      .main-navigation .navbar-nav li.active a {
        border-bottom: 2px solid #ceceb8; }
    .main-navigation .navbar-nav.nav-signup {
      margin: 5px 0; }
      .main-navigation .navbar-nav.nav-signup > li {
        padding: 0 5px;
        border-top: none;
        display: inline-block; }
        .main-navigation .navbar-nav.nav-signup > li:first-child {
          padding-left: 10px; }
        .main-navigation .navbar-nav.nav-signup > li:last-child {
          border-right: none; }
        .main-navigation .navbar-nav.nav-signup > li a {
          color: #237fc6;
          padding-left: 10px;
          padding-right: 10px;
          font-weight: normal; }
          .main-navigation .navbar-nav.nav-signup > li a.btn {
            color: #ffffff;
            font-size: 14px;
            display: inline-block;
            border: none; }
            .main-navigation .navbar-nav.nav-signup > li a.btn:hover {
              background: #1f71b0;
              border-color: #237fc6;
              color: white; }
          .main-navigation .navbar-nav.nav-signup > li a:hover {
            color: #185585; }
    @media (min-width: 768px) {
      .main-navigation .navbar-nav {
        padding: 25px 0;
        margin: 0; }
        .main-navigation .navbar-nav li {
          padding: 0 10px;
          border-top: none; }
          .main-navigation .navbar-nav li:last-child {
            border-right: 2px solid #ceceb8;
            padding-right: 20px; }
        .main-navigation .navbar-nav.nav-signup {
          margin: 0; } }



.navbar-brand {
  height: 86px;
  padding: 20px; }

.navbar-toggle {
  position: absolute;
  float: none;
  top: 46px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); /*Fixing safari bug*/
  right: 20px;
  margin: 0; }

.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px; }
  @media (min-width: 768px) {
    .navbar-collapse {
      padding-left: 10px;
      padding-right: 10px; } }



/*Search form*/
.search-form .form-control {
  font-size: 14px;
  display: block;
  border: none;
  box-shadow: none;
  min-width: 220px;
  padding-left: 47px;
  height: 60px;
  background-image: url("../img/design/search.svg");
  background-repeat: no-repeat;
  background-size: 27px 27px;
  background-position: 10px center;
  transition: all .2s ease; }
  .search-form .form-control:focus {
    background-color: #f2f2e9;
    outline: none; }

section + section > .navigation-top {
  border-top: 2px solid #ceceb8; }

.navigation-bottom {
  border-top: 2px solid #ceceb8; }

.listing-tutorials .navigation-bottom {
  border-bottom: none; }


/* ==========================================================================
   footer
   ========================================================================== */ 
footer{margin: 0;}

.page-footer {
  background-color: #f2f2e9;
  padding: 50px 10px;
  font-size: 14px;
  border-top: 2px solid #ceceb8;
  color: #5C5C5C;
}
.footer-section-title {
  font-weight: bold;
  font-size: 16px;
  color: #5C5C5C;
  margin-bottom: 20px;
}
.footer-contact {
  overflow: hidden;
}
.footer-logo {
  margin-top: 7px;
  display: block;
  width: 100%;
}

.footer-logo a img{margin-bottom: 8px;}
.page-footer .container{max-width: 980px;}

@media (min-width: 992px) {
  .page-footer{padding: 100px 0;}
  .footer-logo{width: auto;}
}

@media (min-width: 767px) {
  footer{margin-top: 56px;}
}