<div id="docs-nav" class="fr w-100 w-30-l ph3 ph4-ns pb4">
  <h2 class="f6 normal ma0 pb2 mb2 bb b--black-10 black-50">Semaphore Docs</h2>
  <ul class="docs-nav list b pl0">
    <li class="docs-nav-home"><a href="/docs/index.html" class="link-reset db black-80 pv1 pl4">Docs Home</a></li>
    <li class="docs-nav-start"><a href="/docs/getting-started.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Getting Started</a></li>
    <li class="docs-nav-language"><a href="/docs/languages.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Language Support</a></li>
    <li class="docs-nav-database"><a href="/docs/databases.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Database support</a></li>
    <li class="docs-nav-docker"><a href="/docs/docker.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Docker support</a></li>
    <li class="docs-nav-platform"><a href="/docs/the-semaphore-platform.html" class="link-reset db black-50 hover-black-80 pv1 pl4">The Semaphore platform</a></li>
    <li class="docs-nav-git"><a href="/docs/git-services.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Git Services</a></li>
    <li class="docs-nav-customize"><a href="/docs/customizing-your-build.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Customizing your build</a></li>
    <li class="docs-nav-adapting"><a href="/docs/adapting-semaphore-to-your-workflow.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Adapting Semaphore</a></li>
    <li class="docs-nav-dependencies"><a href="/docs/managing-dependencies.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Managing dependencies</a></li>
    <li class="docs-nav-troubleshooting"><a href="/docs/build-troubleshooting.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Build troubleshooting</a></li>
    <li class="docs-nav-deploy"><a href="/docs/deploying-your-application.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Deploying your application</a></li>
    <li class="docs-nav-insights"><a href="/docs/insights.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Insights</a></li>
    <li class="docs-nav-collaboartion"><a href="/docs/collaboration.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Collaboration</a></li>
    <li class="docs-nav-organisations"><a href="/docs/organizations.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Organizations</a></li>
    <li class="docs-nav-twostep"><a href="/docs/two-step-verification.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Two-Step Verification</a></li>
    <li class="docs-nav-notifications"><a href="/docs/notifications.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Notifications</a></li>
    <li class="docs-nav-api"><a href="/docs/api.html" class="link-reset db black-50 hover-black-80 pv1 pl4">API</a></li>
    <li class="docs-nav-billing"><a href="/docs/billing.html" class="link-reset db black-50 hover-black-80 pv1 pl4">Billing</a></li>
    <li class="docs-nav-guides"><a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4">Guides</a></li>
  </ul>
</div>
