<div class="block-creative-commons text-center">
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
    <img alt="Creative Commons License" rel="license" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png">
  </a>
  <p>This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"> Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
</div>
