<footer class="c-footer u-mb-xs-20 u-mb-60">
  <div class="container">
    <div class="row">
      <div class="c-footer__border"></div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
        <h4 class="u-text-normal text-uppercase">Subscribe to our newsletter</h4>

        <form role="newsletter" class="" action="http://semaphoreapp.us5.list-manage.com/subscribe/post?u=72b30480e518914855ca55a85&amp;id=d442447559" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
          <div class="input-group u-mb-20 u-pt-5">
            <input type="text" name="EMAIL" class="form-control" placeholder="Enter your email address">

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_72b30480e518914855ca55a85_d442447559" value=""></div>

            <span class="input-group-btn">
              <button type="submit" class="btn btn-semaphore-green" name="subscribe" id="mc-embedded-subscribe" onclick="
                var _this = this;
                ga.('send', ('event', 'Blog sidebar', 'Newsletter signup');
                setTimeout(function() {$(_this).parents('form').submit()}, 150);
                return false;">Subscribe</button>
            </span>
          </div>
        </form>

        <div class="btn-group u-mb-20" role="group" aria-label="...">
          <a class="btn btn-muted" href="https://twitter.com/semaphoreci" role="button">
            <img width="14" alt="Follow @semaphoreci on Twitter" src="/docs/assets/img/social-twitter.svg">
          </a>
          <a class="btn btn-muted" href="https://www.facebook.com/SemaphoreCI" role="button">
            <img width="7" alt="Follow SemaphoreCI on Facebook" src="/docs/assets/img/social-facebook.svg">
          </a>
          <a class="btn btn-muted" href="/blog/feed.xml" role="button">
            <img width="14" alt="Subscribe to blog RSS feed" src="/docs/assets/img/social-rss.svg">
          </a>
        </div>

        <p class="hidden-xs">© 2009-2016 Rendered Text. All rights reserved.</p>
      </div>

      <div class="col-xs-4 col-sm-2 col-md-2 col-md-offset-1 col-lg-offset-2">
        <h4 class="u-text-normal text-uppercase">Semaphore</h4>
        <ul class="list-unstyled">
          <li><a class="u-link-quiet" href="/product">Product</a></li>
          <li><a class="u-link-quiet" href="/renderedtext/semaphore/changelog">Changelog</a></li>
          <li><a class="u-link-quiet" href="/pricing">Pricing</a></li>
        </ul>
      </div>

      <div class="col-xs-4 col-sm-2">
        <h4 class="u-text-normal text-uppercase">Resources</h4>
        <ul class="list-unstyled">
          <li><a class="u-link-quiet" href="/press">Press</a></li>
          <li><a class="u-link-quiet" href="/contact">Contact us</a></li>
          <li><a class="u-link-quiet" href="/docs">Documentation</a></li>
          <li><a class="u-link-quiet" href="/community/tutorials">Tutorials</a></li>
          <li><a class="u-link-quiet" href="/blog">Blog</a></li>
          <li><a class="u-link-quiet" href="/docs/api.html">API</a></li>
        </ul>
      </div>

      <div class="col-xs-4 col-sm-2">
        <h4 class="u-text-normal text-uppercase">About</h4>
        <ul class="list-unstyled">
          <li><a class="u-link-quiet" href="/about">Our story</a></li>
          <li><a class="u-link-quiet" href="http://renderedtext.com">Company</a></li>
          <li><a class="u-link-quiet" href="https://renderedtext.workable.com">Jobs</a></li>
          <!--<li><a class="u-link-quiet" href="#">Media kit</a></li>-->
          <li><a class="u-link-quiet" href="/tos">Terms</a></li>
          <li><a class="u-link-quiet" href="/privacy">Privacy</a></li>
          <li><a class="u-link-quiet" href="/security">Security</a></li>
        </ul>
      </div>

      <div class="col-xs-12 visible-xs u-mt-20">
        <p>© 2009-2016 <a href="http://renderedtext.com/">Rendered Text</a>. All rights reserved.</p>
      </div>

    </div>
  </div>
</footer>
