<div class="cf flex-l bb b--black-20">
  <div class="fl-l w-80-l">
    <div class="cf flex-m bb-m bn-l b--black-20 h-100">
      <div class="fl w-50 w-25-m br-m b--black-20">
        <div class="pa3">
          <h6 class="aa f6 mt0 mb1">Semaphore</h6>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Homepage</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Product</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">CI/CD for Docker</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Pricing</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Enterprise</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Changelog</a>
        </div>
      </div>
      <div class="fl w-50 w-25-m br-m b--black-20">
        <div class="pa3">
          <h6 class="aa f6 mt0 mb1">Resources</h6>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Tutorials</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Documentation</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Blog</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">API</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Press</a>
        </div>
      </div>

      <div class="fl w-50 cl cn-m w-25-m br-m b--black-20">
        <div class="pa3 bb bt bn-m b--black-20">
          <h6 class="aa f6 mt0 mb1">About Us</h6>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Our Story</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Company</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Jobs</a>
        </div>
      </div>
      <div class="fl w-50 w-25-m br-l b--black-20">
        <div class="pa3 bb bt bn-m b--black-20">
          <h6 class="aa f6 mt0 mb1">Keep in touch</h6>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Twitter</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">Facebook</a>
          <a href="#" class="db pb1 link-reset near-black hover-gray">RSS Feed</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fl-l w-100 w-20-l pa3">
    <h6 class="aa f6 mt0 mb1">Newsletter</h6>
    <input class="pv1 ph2 mb2 input-reset ba b--black-20 bg-white dark-gray br2 w-100" type="email" name="email-address" placeholder="Enter email" id="email-address">
    <input class="aa b pv1 ph2 input-reset bg-silver bn white br2 pointer w-100" type="submit" value="Subscribe">
    <p class="f7 gray mt2 mb0">Occasional lightweight product and blog updates. Unsubscribe at any time.</p>
  </div>
</div>

<p class="f7 mb5 ph3 gray">2009-2017 © Rendered Text. All rights reserved. <a href="#" class="link-reset near-black hover-gray">Terms of Service</a>, <a href="#" class="link-reset near-black hover-gray">Privacy policy</a>, <a href="#" class="link-reset near-black hover-gray">Security</a>.</p>
