<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <section class="footer-contact">
          <div class="pull-left footer-logo">
            <a href="/community"><img alt="Semaphore" height="45" src="/docs/assets/img/design/logo-semaphore.svg" width="181"></a>
          </div>
          <div class="pull-left">
            <ul class="list-unstyled">
              <li>Semaphore is © 2009-<%= Date.today.year %> Rendered Text.</li>
              <li>All rights reserved.</li>
              <li>
                Follow us on <a href="https://twitter.com/semaphoreapp" rel="publisher">Twitter</a>,
                <a href="https://www.facebook.com/SemaphoreCI" rel="publisher">Facebook</a> and
                <a href="https://plus.google.com/106136977036322666905" rel="publisher">Google+</a>.
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div class="col-md-2">
        <section>
          <h2 class="footer-section-title">Product</h2>
          <ul class="list-unstyled">
            <li><a href="/automatic_testing">Continuous integration</a></li>
            <li><a href="/deployment">Continuous deployment</a></li>
            <li><a href="/pricing">Pricing</a></li>
          </ul>
        </section>
      </div>
      <div class="col-md-2">
        <section>
          <h2 class="footer-section-title">Resources</h2>
          <ul class="list-unstyled">
            <li><a href="/docs">Documentation</a></li>
            <li><a href="/community/tutorials">Tutorials</a></li>
            <li><a href="/community/open-source">Open source</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/docs/api.html">API</a>
          </li></ul>
        </section>
      </div>
      <div class="col-md-2">
        <section>
          <h2 class="footer-section-title">Support</h2>
          <ul class="list-unstyled">
            <li><a href="mailto:semaphore@renderedtext.com">Contact us</a></li>
            <li><a href="/tos">Terms of service</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/security">Security</a></li>
          </ul>
        </section>
      </div>
      <div class="col-md-2">
        <section>
          <h2 class="footer-section-title">About</h2>
          <ul class="list-unstyled">
            <li><a href="http://renderedtext.com">Company</a></li>
            <li><a href="/our_users">Customers</a></li>
            <li><a href="https://www.dropbox.com/s/uybgnqx86hwm3q0/Semaphore_Media_Kit.zip?dl=0">Media kit</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</footer>
