<div class="cf flex-l bb b--black-20">
  <div class="fl-l w-80-l">
    <div class="cf flex-m bb-m bn-l b--black-20 h-100">
      <div class="fl w-50 w-25-m br-m b--black-20">
        <div class="pa3">
          <h6 class="aa f6 mt0 mb1">Semaphore</h6>
          <a href="/" class="db pb1 link-reset near-black hover-gray">Homepage</a>
          <a href="/product" class="db pb1 link-reset near-black hover-gray">Product</a>
          <a href="/product/docker" class="db pb1 link-reset near-black hover-gray">CI/CD for Docker</a>
          <a href="/pricing" class="db pb1 link-reset near-black hover-gray">Pricing</a>
          <a href="/renderedtext/semaphore/changelog" class="db pb1 link-reset near-black hover-gray">Changelog</a>
        </div>
      </div>
      <div class="fl w-50 w-25-m br-m b--black-20">
        <div class="pa3">
          <h6 class="aa f6 mt0 mb1">Resources</h6>
          <a href="/community" class="db pb1 link-reset near-black hover-gray">Tutorials</a>
          <a href="/docs" class="db pb1 link-reset near-black hover-gray">Documentation</a>
          <a href="/blog" class="db pb1 link-reset near-black hover-gray">Blog</a>
          <a href="/press" class="db pb1 link-reset near-black hover-gray">Press</a>
        </div>
      </div>

      <div class="fl w-50 cl cn-m w-25-m br-m b--black-20">
        <div class="pa3 bb bt bn-m b--black-20">
          <h6 class="aa f6 mt0 mb1">About Us</h6>
          <a href="/about" class="db pb1 link-reset near-black hover-gray">Our Story</a>
          <a href="/about/careers" class="db pb1 link-reset near-black hover-gray">Careers</a>
          <a href="http://renderedtext.com" class="db pb1 link-reset near-black hover-gray">Company</a>
        </div>
      </div>
      <div class="fl w-50 w-25-m br-l b--black-20">
        <div class="pa3 bb bt bn-m b--black-20">
          <h6 class="aa f6 mt0 mb1">Keep in touch</h6>
          <a href="https://twitter.com/semaphoreci" class="db pb1 link-reset near-black hover-gray">Twitter</a>
          <a href="https://www.facebook.com/semaphoreci" class="db pb1 link-reset near-black hover-gray">Facebook</a>
          <a href="/blog/feed.xml" class="db pb1 link-reset near-black hover-gray">RSS Feed</a>
        </div>
      </div>
    </div>
  </div>
  <%= partial(:newsletter) %>
</div>

<p class="f7 mb5 ph3 gray">2009-2018 © Rendered Text. All rights reserved. <a href="/tos" class="link-reset near-black hover-gray">Terms of Service</a>, <a href="/privacy" class="link-reset near-black hover-gray">Privacy policy</a>, <a href="/security" class="link-reset near-black hover-gray">Security</a>.</p>
