<header>
  <nav class="navbar navbar-default main-navigation" role="navigation">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <ul class="site-nav-cta list-unstyled pull-right">
        <li class="pull-right"><a href="/users/sign_in" class="btn btn-cta">Sign In</a></li>
        <li class="pull-right"><a href="/users/sign_up" class="btn btn-cta">Sign Up</a></li>
      </ul>

      <div class="navbar-header">
        <a class="navbar-brand logo-semaphore" href="/">
          <img src="/docs/assets/img/logo-semaphore.svg"width="181" alt="Semaphore Logo" />
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right navbar-blue">
          <li><a href="/features">Features</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a class="active" href="/docs">Documentation</a></li>
          <li><a href="/community">Tutorials</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
