<header>
  <nav class="navbar navbar-default main-navigation" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/docs">
          <img src="/docs/assets/img/logo-semaphore.svg" height="46" width="181" alt="Semaphore Documentation" />
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <form class="search-form navbar-search" role="search">
          <input type="text" class="form-control" id="st-search-input" placeholder="Search Documentation">
        </form>
        <ul class="nav navbar-nav navbar-right navbar-blue">
          <li><a href="https://semaphoreci.com">Back to Semaphore</a></li>
          <li><a href="mailto:328e3e4aab1aefecc60ed7e4cb33910bc3fbdeb2@incoming.intercom.io" id="Intercom">Contact Support</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
