<div class="bb b--black-10 mb3 mb4-m">
  <div class="cf mh3 relative">
    <div class="fl">
      <a href="/" class="fl db link-reset pv3" style="height: 24px; width: 152px;">
        <svg class="logo-mark" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><title>Artboard</title><g fill="none" fill-rule="evenodd"><path d="M27.238 6.703c.274-.065.614.076.756.317 0 0 .577.94.92 1.69.34.747.67 1.796.67 1.796.087.266-.027.613-.257.777l-1.863 1.33c-.23.162-.385.52-.35.797 0 0 .102.71.118 1.32.015.6-.05 1.293-.05 1.293-.02.28.154.627.392.778l1.93 1.23c.238.15.372.49.298.76 0 0-.275 1.068-.577 1.835-.302.765-.827 1.73-.827 1.73-.13.25-.46.408-.737.356l-2.248-.416c-.277-.05-.643.086-.82.303 0 0-.47.605-.93 1.066-.513.513-1.234 1.06-1.234 1.06-.22.172-.362.536-.315.814l.378 2.256c.048.277-.117.605-.367.73 0 0-.977.51-1.75.8-.77.287-1.84.543-1.84.543-.27.07-.608-.07-.755-.31l-1.196-1.95c-.147-.24-.495-.42-.773-.405 0 0-.614.05-1.174.03-.577-.018-1.22-.112-1.22-.112-.278-.036-.635.12-.8.35l-1.33 1.862c-.164.23-.512.345-.778.257 0 0-1.05-.33-1.8-.672C7.957 28.575 7.02 28 7.02 28c-.24-.145-.38-.482-.315-.756l.475-1.978c.1-.41.42-.985.717-1.283l4.925-4.94c1.74.96 3.97.703 5.446-.773 1.475-1.475 1.733-3.707.773-5.446l4.934-4.933c.298-.298.872-.618 1.283-.716l1.98-.47z" fill="#19A974"/><path d="M2.827 23.365c-.274.066-.613-.076-.756-.317 0 0-.576-.94-.917-1.69-.34-.747-.67-1.796-.67-1.796-.09-.266.026-.613.255-.777l1.863-1.33c.23-.162.386-.52.352-.797 0 0-.103-.71-.118-1.32-.015-.6.05-1.293.05-1.293.02-.28-.155-.627-.393-.778L.56 12.04c-.237-.152-.37-.493-.296-.764 0 0 .275-1.067.577-1.833.302-.766.828-1.732.828-1.732.13-.246.46-.405.736-.353l2.25.416c.276.052.642-.085.82-.302 0 0 .47-.604.93-1.066.513-.512 1.234-1.058 1.234-1.058.22-.173.36-.538.314-.816l-.378-2.255c-.046-.278.118-.606.37-.73 0 0 .975-.51 1.747-.8C10.463.457 11.53.2 11.53.2c.272-.067.61.07.758.312l1.196 1.95c.147.24.494.42.772.404 0 0 .614-.048 1.174-.03.577.02 1.22.114 1.22.114.278.035.635-.12.8-.35L18.78.737c.164-.23.512-.345.778-.256 0 0 1.05.33 1.8.673.75.34 1.687.916 1.687.916.24.142.382.48.316.754l-.474 1.978c-.1.41-.42.984-.717 1.282l-4.926 4.94c-1.74-.96-3.97-.702-5.446.774-1.476 1.475-1.733 3.707-.773 5.446l-4.933 4.934c-.3.298-.873.62-1.283.716l-1.983.47z" fill="#F85418"/></g></svg>
        <svg class="logo-type" width="111" height="12" viewBox="699 912 111 12" xmlns="http://www.w3.org/2000/svg"><path d="M699.756 919.904c.162 2.106 1.836 3.276 4.338 3.276 2.088 0 4.104-.81 4.104-3.06 0-1.584-1.008-2.43-2.61-2.862l-2.016-.54c-.972-.27-1.296-.63-1.296-1.152 0-.648.504-1.044 1.44-1.044.954 0 1.782.414 1.854 1.458h2.304c-.162-2.178-1.818-3.204-4.014-3.204-1.98 0-3.87.828-3.87 2.952 0 1.476.918 2.394 2.592 2.844l2.016.54c.936.252 1.314.63 1.314 1.188 0 .684-.612 1.134-1.692 1.134-1.098 0-2.052-.45-2.142-1.53h-2.322zM712.16 923h7.2v-1.926h-4.914v-2.232h3.978v-1.926h-3.978v-2.034h4.914v-1.926h-7.2V923zm11.432 0h2.178v-7.074l2.25 4.392h1.26l2.25-4.392V923h2.178v-10.044h-2.646l-2.34 4.554-2.322-4.554h-2.808V923zm13.826 0h2.322l.612-1.818h3.942l.63 1.818h2.394l-3.69-10.044h-2.52L737.418 923zm3.492-3.546l1.404-4.23 1.422 4.23h-2.826zM751.028 923h2.286v-3.24h1.224c2.826 0 4.554-1.062 4.554-3.402s-1.728-3.402-4.554-3.402h-3.51V923zm2.286-5.112v-3.06h1.206c1.584 0 2.196.45 2.196 1.53 0 1.098-.612 1.53-2.196 1.53h-1.206zm9.794 5.112h2.286v-4.14h4.05V923h2.286v-10.044h-2.286v3.924h-4.05v-3.924h-2.286V923zm17.822-1.8c-2.016 0-2.502-1.638-2.502-3.222s.486-3.222 2.502-3.222 2.502 1.638 2.502 3.222-.486 3.222-2.502 3.222zm0 1.98c3.258 0 4.86-2.088 4.86-5.202s-1.602-5.202-4.86-5.202-4.86 2.088-4.86 5.202 1.602 5.202 4.86 5.202zm9.2-.18h2.286v-3.24h1.53l2.088 3.24h2.628l-2.556-3.708c1.224-.45 2.088-1.35 2.088-2.934 0-2.34-1.728-3.402-4.554-3.402h-3.51V923zm2.286-5.112v-3.06h1.206c1.584 0 2.196.45 2.196 1.53 0 1.098-.612 1.53-2.196 1.53h-1.206zm10.19 5.112h7.2v-1.926h-4.914v-2.232h3.978v-1.926h-3.978v-2.034h4.914v-1.926h-7.2V923z" fill="#111" fill-rule="evenodd"/></svg>
      </a>
      <div class="dib fl f5 black-70 pl2 pv3 pr0 pr3-ns">Docs</div>
      <div class="dropdown-trigger fl dn dib-m">
        <a href="#" class="link-reset f5 black-50 dib fl pa3 bl br b--black-10">Menu…</a>
        <div class="dropdown-body tl bg-white shadow-1 br2">
          <a href="/" class="link-reset db black-90 hover-gray ph3 pt3 pb1">Semaphore Home</a>
          <a href="/product" class="link-reset db black-90 hover-gray ph3 pv1">Product</a>
          <a href="/docs/docker.html" class="link-reset db black-90 hover-gray ph3 pv1">CI/CD for Docker</a>
          <a href="/pricing" class="link-reset db black-90 hover-gray ph3 pv1">Pricing</a>
          <a href="/contact" class="link-reset db black-90 hover-gray ph3 pt1 pb3 bb b--black-10">Contact</a>
          <a href="/community" class="link-reset db black-90 hover-gray ph3 pt3 pb1">Tutorials</a>
          <a href="/docs" class="link-reset db black-90 hover-gray ph3 pv1">Documentation</a>
          <a href="/blog" class="link-reset db black-90 hover-gray ph3 pt1 pb3 bb b--black-10">Blog</a>

          <div class="pa3 tc bg-near-white br2 br--bottom">
            <a href="/users/sign_in" class="aa link-reset db b bg-silver white pv1 br2 mb2">Log In</a>
            <a href="/users/sign_up" class="aa link-reset db b bg-green white pv1 br2">Try Semaphore Free</a>
          </div>
        </div>
      </div>
    </div>

    <div class="fr f5 mt3">
      <div class="dn dib-m">
        <form class="search-form" role="search">
          <fieldset class="cf bn ma0 pa0">
            <input class="f6 input-reset fl black-80 bg-white pv1 ph2 ba b--black-20 lh-solid br2 form-control" placeholder="Search Docs…" type="text" name="search" value="" id="search" size="30" id="st-search-input">
            <input class="aa b f6 button-reset lh-solid fl pv1 ph3 ml2 tc bg-green white ba b--green pointer br2 form-control" type="submit" value="Search">
          </fieldset>
        </form>
      </div>

      <a href="#" onclick="toggle_visibility('mobile-menu');" class="dn-m link-reset aa f5 b bg-white gray ba b--black-20 br2 pv1 ph2">Menu</a>
    </div>

  </div>

  <!-- Mobile menu -->
  <div id="mobile-menu" class="dn bg-white bt b--black-10">
    <div class="cf">
      <div class="fl w-50 ph3">
        <a href="#" class="link-reset db f5 mr3 black-90 hover-gray pb2 pt3">Semaphore Home</a>
        <a href="#" class="link-reset db f5 mr3 black-90 hover-gray pv2">Product</a>
        <a href="#" class="link-reset db f5 mr3 black-90 hover-gray pv2">CI/CD for Docker</a>
        <a href="#" class="link-reset db f5 mr3 black-90 hover-gray pv2">Pricing</a>
      </div>
      <div class="fl w-50 ph3 bl b--black-10">
        <a href="#" class="link-reset db f5 mr3 black-90 hover-gray pb2 pt3">Tutorials</a>
        <a href="#" class="link-reset db f5 mr3 black-90 hover-gray pv2">Documentation</a>
        <a href="#" class="link-reset db f5 mr3 black-90 hover-gray pv2">Blog</a>
        <a href="#" class="link-reset db f5 mr3 black-90 hover-gray pt2 pb3">Contact Us</a>
      </div>
    </div>

    <div class="dn-m ph3 pv3 bt b--black-10">
      <form class="mw1 center">
        <fieldset class="cf bn ma0 pa0">
          <div class="cf">
            <div class="fl w-70 ph1">
              <input class="f6 input-reset fl black-80 bg-white pv1 ph2 ba b--black-20 lh-solid br2 w-100" placeholder="Search Docs…" type="text" name="search" value="" id="search">
            </div>
            <div class="fl w-30 ph1">
              <input class="aa b f6 button-reset lh-solid fl pv1 tc bg-green white ba b--green pointer br2 w-100" type="submit" value="Search">
            </div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="dn-m ph3 pv3 tc bt b--black-10 bg-washed-grayblue">
      <a href="#" class="aa link-reset f5 b bg-silver white br2 pv1 ph2">Log In</a>
      <span class="mh2">or</span>
      <a href="#" class="aa link-reset f5 b bg-green white br2 pv1 ph2">Create Free Account</a>
    </div>
  </div>
  <!-- end Header -->
</div>
