<div class="fl-l w-100 w-20-l pa3">
  <form role="newsletter" class="" action="http://semaphoreapp.us5.list-manage.com/subscribe/post?u=72b30480e518914855ca55a85&amp;id=d442447559" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
    <h6 class="aa f6 mt0 mb1">Newsletter</h6>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_72b30480e518914855ca55a85_d442447559" value=""></div>
    <input class="pv1 ph2 mb2 input-reset ba b--black-20 bg-white dark-gray br2 w-100 form-control" type="email" name="EMAIL" placeholder="Enter email" id="email-address">
    <input class="aa b pv1 ph2 input-reset bg-silver bn white br2 pointer w-100" type="submit" name="subscribe" value="Subscribe" onclick="
      var _this = this;
      ga.('send', ('event', 'Blog sidebar', 'Newsletter signup');
      setTimeout(function() {$(_this).parents('form').submit()}, 150);
      return false;
    ">
    <p class="f7 gray mt2 mb0">Occasional lightweight product and blog updates. Unsubscribe at any time.</p>
  </form>
</div>
