<section class="listing listing-tutorials">
  <nav class="navigation navigation-top">

    <div class="navigation-group navigation-group--search navigation-group--docs">
      <form class="search-form" role="search">
        <input type="text" class="form-control" style="background-image:url(docs/assets/img/search.svg);" id="st-search-input" placeholder="Search Documentation">
      </form>
    </div>

    <div class="navigation-group navigation-group-fluid"></div>
  </nav>
</section>
