<section class="listing listing-tutorials">
  <nav class="navigation navigation-top">

    <div class="navigation-group navigation-group--search navigation-group--docs">
      <form class="search-form" role="search">
        <input type="text" class="form-control" id="st-search-input" placeholder="Search Documentation">
      </form>
    </div>

    <div class="navigation-group">
      <a href="mailto:328e3e4aab1aefecc60ed7e4cb33910bc3fbdeb2@incoming.intercom.io" id="Intercom">
        Contact Support
      </a>
    </div>

    <div class="navigation-group navigation-group-fluid"></div>
  </nav>
</section>
