<% content_for :title do %>
  <title><%= category %></title>
<% end %>

<hgroup class="page-header">
<small><%= link_to "Home","/docs" %> /</small>
<h1>
  <%= category %>
</h1>
</hgroup>


<ul>
  <% sort_pages(pages).each do |page| %>
    <li><%= link_to page.data.title, page.url %></li>
  <% end %>
</ul>
