<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <% if content_for?(:title) %>
      <%= yield_content :title %>
    <% else%>
      <title>Semaphore Documentation</title>
    <% end %>

    <!-- Bootstrap -->
    <link href="/docs/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/docs/assets/css/default.css" rel="stylesheet">
    <link href="/docs/assets/css/docs.css" rel="stylesheet">
    <link href="/docs/assets/css/highlighting.css" rel="stylesheet">

    <script type="text/javascript" src="//use.typekit.net/let5ztq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="docs">

    <div class="page-block with-background">
      <div class="container">

        <header>
          <div class="col-lg-10 col-lg-offset-1">
            <nav class="navbar" role="navigation">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/docs"><img src="/docs/assets/img/design/logo-docs.png" alt="semaphore" /><span>Documentation</span></a>
              </div>

              <div class="collapse nav-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav pull-right ">
                  <li><a href="https://semaphoreapp.com">back to semaphore</a></li>
                  <li><a href="mailto:328e3e4aab1aefecc60ed7e4cb33910bc3fbdeb2@incoming.intercom.io" id="Intercom" data-intercom_original_html="Get Help" style="visibility: visible;">contact support</a></li>
                </ul>

                <form action="" name="" class="search  col-lg-10 col-lg-offset-1" role="form">
                  <input type="search" id="st-search-input" class="form-control" placeholder="Eg. Supported stack"/>
                </form>

              </div>

            </nav>
          </div>
        </header>

        <article>
          <div class="row">
            <div class="col-lg-10 col-sm-12 col-12  col-lg-offset-1">
              <div class="panel panel-default">

                <%= yield  %>

              </div> <!--/.panel-->
            </div>
          </div> <!--/.row-->

          <div class="row">
            <div class="col-lg-4 col-sm-6 col-12 col-lg-offset-4 col-sm-offset-3">
              <footer class="text-center">
              <p><small>Copyright © 2014 Rendered Text</small></p>
              </footer>
            </div>
          </div>
        </article>

      </div>  <!-- .container -->
    </div>  <!-- .page-block -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/docs/assets/js/bootstrap.min.js"></script>

    <%= partial(:swiftype_search)%>

    <%= partial(:google_analytics)%>

  </body>
</html>
